/* Media Queries
/* ----------------------------------- */
@media only screen and (max-width: 1720px){

}
@media only screen and (max-width: 1500px){
#header .navbar-nav > li > a{padding-left:10px; padding-right:10px;}
}
@media only screen and (min-width: 768px){

}

@media only screen and (max-width: 1280px){
		#header .navbar-nav > li > a{padding-left:7px; padding-right:7px; font-size:16px;}
		.internationalTabsSlider {padding:0 60px;}
		.internationalTabsSlider .owl-nav .owl-prev{left:0;}
		.internationalTabsSlider .owl-nav .owl-next{right:0;}
		.commonTabs > ul{margin-bottom:20px;}
		.innerBannerWrap{background-size:auto 100%;}
}

@media only screen and (min-width: 1024px){
#header .dropdown-menu{ opacity:0; display:block; z-index:-1; -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in;-ms-transition: all 0.5s ease-in;-o-transition: all 0.5s ease-in;transition: all 0.5s ease-in; -moz-transform: translateY(100px);-webkit-transform: translateY(100px);-o-transform: translateY(100px);-ms-transform: translateY(100px); transform: translateY(100px); z-index:-1111111; max-height:0; overflow:hidden;}
#header .dropdown:hover > ul.dropdown-menu {display:block !important; opacity:1; display:block; z-index:22 !important;  -moz-transform: translateY(0px);-webkit-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px); transform: translateY(0px); z-index:1111; max-height:1000px; padding:15px 15px 20px 15px;}
#header li .menuIcon{display:none;}
}
@media only screen and (min-width: 1024px) and (max-width: 1210px){
	#header .navbar-nav > li > a{padding-left:5px; padding-right:5px;  font-size:15px;}	
	.productList li{width:25%; margin-bottom:30px;}
	.contentSection{padding:80px 0;}
	.productsIntDom{padding:0;}
}
@media only screen and (max-width: 1169px){
#banner .owl-dots{bottom:-30px;}
.aboutText	{margin-top:0;}
.aboutUs.contentSection{padding:0;}
#banner{padding:83px 0 60px;}
}

@media only screen and (max-width: 1023px){
.navbar-header {float:none;}
.navbar-toggle {display:block;}
.navbar-collapse {margin:0;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {float: none!important;margin: 7.5px -15px;}
.navbar-nav>li {float:left; width:100%;}
.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
.navbar-text {float: none;margin: 15px 0;}
    /* since 3.1.0 */
.navbar-collapse.collapse.in { display: block!important;}
.collapsing {overflow: hidden!important;}
	.navbar-toggle, .navbar-toggle:hover{width:39px; height:28px; margin:36px 0 0; background:url(../images/bgi/mob-menu-bg.png) left top no-repeat; min-width:auto !important;}
	#header{padding:0; z-index:1111;} 
	#header .navbar{background:#fff; padding:10px 0; margin:0;}
	.navbar-collapse{clear:both; float:none;}
	.dropdown-menu li {border-bottom:0 none; float:left; width:100%;}
	#header .navbar-nav > li > a{float:left;color:#fff; padding:12px 15px 12px; width:100%;}
	#header .navbar-nav{margin-bottom:0; background:#e3010f; margin:0;}
	#header .navbar-nav > li > a { border-bottom:1px solid rgba(255,255,255,0.5);  padding:5px 15px; background:none;  font-size:16px; }
	#header .nav > li > a:hover, #header .nav > li > a:focus {background-color:#4f2816; color:#fff;}
	#header .navbar li .dropdown-menu{width:100%; z-index:2;}
	#header .navbar-nav  li a:hover, #header .navbar-nav  li.active a, #header .navbar-nav  li a:focus, #header .navbar-nav  li a:active{background:#4f2816; color:#fff;}
	#header .dropdown:hover .dropdown-toggle{background-color:#4f2816; }
	#header .navbar-nav > li:last-child > a{border-bottom:0 none;}
	#header .navbar-nav > li > a::after{display:none;}
	#header .dropdown-menu > li > a{color:#fff;  border-bottom:1px dashed rgba(255,255,255,0.5); padding-top:5px; padding-bottom:5px; font-size:15px;} 
	#header .dropdown-menu > li:last-child > a{border-bottom:1px dashed rgba(255,255,255,0.5);}
	.navbar-brand > img{max-height:100%; margin-bottom:-22px;}
	#header.headerFixed{position:relative;}
	#header .col-sm-4{width:100%;}	
	.productList li{width:50%; margin-bottom:30px;}
	.contentSection{padding:80px 0;}
	.productsIntDom{padding:0;}
.aboutSliderContinaer{padding:80px 0;}
#header .col-sm-2{width:100%;}
.menuWrap{width:100%;}
#header .navbar-collapse{position:absolute; left:0; top:-35px; width:100%;}
.menuWrap{margin-top:0;}
#header .dropdown-menu{position:relative; width:100%; padding:0; background:none; max-height:none;}
.innerBannerCaption h2{font-size:50px;}
.innerBanner{min-height:300px;}
.productMobSlider .productText{margin-top:10px; text-align:center; display:block;}
.coreValueTreeWrap{text-align:center; margin-bottom:0;}
.roundBoxChangeText {position:relative; margin-top:150px; top:0; bottom:0; right:auto; left:50%; width:320px; height:320px; margin-left:-160px; padding:20px;}
.productCarousel {padding:40px 0;}
#header .navbar-header{display:block;}

	}
@media only screen and (max-width: 991px){
	.rasnaInternationSecondRow img{margin-bottom:20px;}
	.footerRowTwo, .footerRowTwo .col-md-4.text-right{text-align:center !important;}
	.socialIcons, .centerBlocks , h2{position:relative; z-index:111;}
	.internationProducts{padding-right:15px;}
	.contentSection h2{font-size:34px; line-height:1.3; margin-bottom:30px;}
	.innerProductBox .col-sm-3{width:50%; margin-bottom:35px;}
}

@media only screen and (max-width: 767px){
.contentSection{text-align:center;}
.aboutUs h2, .contentSection h2{font-size:50px; line-height:1.3;}
.emailWrap, .phoneWrap{width:100%; margin-bottom:20px;}
.centerBlocks{margin-bottom:10px;}
.footerRowOne h2{font-size:22px;}
body{font-size:15px; line-height:26px;}
.aboutUs .tagLine{font-size:22px;}
.innerBannerCaption h2{font-size:40px;}
.innerBanner{min-height:250px;}
.footerRowOne:before {display:none;}
.mainTitle:before{top:-60px; height:60px;}
#rasnavision, .contactUsWrap, .commonForms, .rasnaJourney {text-align:left;}
.innerContentPart .mainTitle{margin-bottom:30px;}
.paraContentPages h3{font-size:18px;}
.mediaPage .col-sm-3{width:50%; float:left;}
.contactDetailsWrap{margin:0 0 30px;}
.contactBox{min-height:auto;}
.domesticEnquires .contactBox{min-height:auto;}
 .contactBox{word-wrap:break-word;}
 .contactUsFormWrap:before {display:none;}
 .contactUsFormWrap, .careerFormWrap{margin-top:20px;}
 .cotntactUsForm, .careerForm{margin:0; padding:0;}
 .padT130{padding-top:30px;}
 .mrgT150{margin-top:40px;}
 .contentSeprator{margin-top:10px;}
 .paraContentPages{padding:30px 0;}
 .tab-content .nav-link{display:block; text-decoration:none; background:#d02a27; color:#fff; margin-bottom:2px;}
 .nav-tabs{display:none;}
 .innerContentPart .tab-content .tab-pane{padding:20px 15px 20px;}
 .bdrred{margin-bottom:20px;}
 .twoImgCenter img{margin-bottom:15px;}
 .flavorsWrap .col-sm-4{width:100%; min-height:150px;}
.aboutText{background:#fff;}
.aboutUs h2, .contentSection h2{font-size:36px;}
.contctForm .btnRow{text-align:center; margin-bottom:20px;}
h3{font-size:22px;}
.footerlightContactDetails, .footerlightRowTwo, .socialIcons{text-align:center;}
.address, .email{padding-left:0; background:none;}
.rightPosImg, .kitchenTvc .leftImg, .innerFooter .leftImg{display:none;}
.aboutUs p{line-height:1.4;}
.aboutText{padding:40px 0;}
.kitchenTvc{padding-bottom:0;}
.tvcSliderWrap .item-video{margin-bottom:0;}
.bulletText li{text-align:left;}
.footer {text-align:center;}
.footerRowTwo p{margin-bottom:10px;}
.footerContactDetails{padding-bottom:40px;}
.innerProductBox .col-sm-3{width:50%; float:left;}
.innerBannerWrap{padding-top:115px; font-size:32px;}
.contentSection{padding:40px 0;}
.tvcSliderWrap{padding-bottom:0; padding-left:15px; padding-right:15px;}
.col-sm-6{margin-bottom:30px;}
.innerContent p{line-height:1.5;}
.innerContent p:last-child{margin-bottom:30px; }
.certificateRow .col-sm-3{width:50%; float:left; margin-bottom:20px;}
.tvcSliderWrap .owl-nav button.owl-next, .tvcSliderWrap .owl-nav button.owl-prev{position:static;}
}
@media only screen and (max-width:639px){
.productList li{width:100%;}
.ourProducts {padding-bottom:20px;}
.productCarouselWrap{padding:0;}
.productCarouselSlider .owl-controls, .aboutSlider  .owl-controls{margin-top:40px;}
.productCarouselSlider .owl-prev, .productCarouselSlider .owl-next, .tvcSlider  .owl-prev, .tvcSlider .owl-next,  .aboutSlider .owl-prev,  .aboutSlider .owl-next{position:relative; display:inline-block; margin:0 10px;}
.productCarouselSlider .owl-prev, .tvcSlider  .owl-prev, .aboutSlider .owl-prev{right:-95px;}
.productCarouselSlider .owl-next,  .tvcSlider .owl-next,  .aboutSlider .owl-next{left:-95px;}
.tvcSlider .owl-controls{margin-top:0;}
.tvcSliderWrap{padding-bottom:0; padding-left:15px; padding-right:15px;}
.bottomShadowText{font-size:22px;}
.paraContentPages h4{font-size:16px;}
.bulletText.threeCols li{width:50%;}
.bulletText.threeCols li:nth-child(3n+1){clear:none;}


}
@media only screen and (max-width:599px){
	.pickles ul li{  width:100%; margin-left:0; margin-top:20px;}
	.aboutUs h2, .contentSection h2{font-size:40px;}
	#footer a{margin-bottom:10px;}
	.coreValueTreeImg a .icon img{width:55px;}
	.coreValueTreeImg a .icon:before{width:51px; left:83%; top:27px;}
	.linkIconText{top:13px; left:125px;}
	.coreValueTreeImg a{top:8%;}
	.coreValueTreeImg a.branch{top:40%;}
	.coreValueTreeImg a.sap{top:72%;}
	.coreValueTreeImg a.trunk{top:103%;}
	.coreValueTreeImg a.root{top:134%;}
	.coreValueTreeImg a .linkText{width:200px; left:-69%; text-align:center; font-size:12px;}
	.coreValueTreeImg a .linkText br{display:none;}
	.coreValueTreeImg a.leftLinks .icon:before {width:51px; right:83%; top:27px;}
	.coreValueTreeImg a.leftLinks .linkIconText{top:13px; right:125px;}
	.roundBoxChangeText{margin-top:205px;}
	.aboutUs h2, .contentSection h2{font-size:32px;}
	.innerProductBox .col-sm-3{width:100%; float:none;}
}

@media only screen and (max-width:510px){
}
@media only screen and (max-width:479px){
.navbar-brand{max-width:190px;}
.navbar-header{padding-left:0;}
.navbar-toggle, .navbar-toggle:hover{margin:20px 0 0;}
.bulletText.threeCols li{width:100%;}
	.aboutUs h2, .contentSection h2{font-size:26px;}
	#header .navbar-collapse{top:-20px;}
	}
@media only screen and (max-width:450px){
.innerBannerCaption h2{font-size:32px;}	
.mediaPage .col-sm-3{width:100%;}
}