/* Compiled Less CSS File */
/* Generated from "style.css" */
@import url('https://fonts.googleapis.com/css?family=Chela+One');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp,
strike,tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template {display: none;}
a { background: transparent; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; max-width:100%; height:auto; }
svg:not(:root) { overflow: hidden; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smooth: always; -webkit-text-size-adjust: 100%;}
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
/************font-face***************/
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Medium.otf')  format('opentype'),
    url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf')  format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
    url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamLight.woff') format('woff'), url('../fonts/GothamLight.ttf')  format('truetype'), url('../fonts/GothamLight.svg#GothamLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamBlack';
    src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBlack.woff') format('woff'), url('../fonts/GothamBlack.ttf')  format('truetype'), url('../fonts/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype'),
    url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =Mixins
========================================================================================*/
.mrgL20 {margin-left:20px;}.mrgR20 {margin-right:20px;}.mrgB20 {margin-bottom:20px;}.mrgT20 {margin-top:20px;}.mrgL15 {margin-left:15px;}.mrgR15 {margin-right:15px;}.mrgB15 {margin-bottom:15px;}.mrgT15 {margin-top:15px;}.mrgL10 {margin-left:10px;}.mrgR10 {margin-right:10px;}.mrgB10 {margin-bottom:10px;}.mrgT10 {margin-top:10px;}.padL20 {padding-left:20px;}.padR20 {padding-right:20px;}.padB20 {padding-bottom:20px;}.padT20 {padding-top:20px;}.padL15 {padding-left:15px;}.padR15 {padding-right:15px;}.padB15 {padding-bottom:15px;}.padT15 {padding-top:15px;}.padL10 {padding-left:10px;}.padR10 {padding-right:10px;}.padB10 {padding-bottom:10px;}.padT10 {padding-top:10px;}.padTB10 {padding-top:10px;padding-bottom:10px;}.padTB15 {padding-top:15px;padding-bottom:15px;}.padTB20 {padding-top:20px;padding-bottom:20px;}.pad10 {padding:10px;}.pad15 {padding:15px;}.pad20 {padding:20px;}.pad25 {padding:25px;}.pad30 {padding:30px;}.padT50 {padding-top:50px;}.padT130 {padding-top:130px;}
.ltn {padding:0; margin:0; list-style:none;}
.row {display:block;}
.cf:before, .cf:after, ul:before, ul:after, .wrap:after, .wrap:after { content: " "; display: table; }
.cf:after, .cf:after, ul:after, .wrap:after { clear: both; }
.center-block { display: block; margin-left: auto; margin-right: auto; }
.hide { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden; }
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.hidden { display: none; visibility: hidden ; }
.affix { position: fixed; }
@-ms-viewport { width: device-width;}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}.fa-gitlab:before{content:"\f296"}.fa-wpbeginner:before{content:"\f297"}.fa-wpforms:before{content:"\f298"}.fa-envira:before{content:"\f299"}.fa-universal-access:before{content:"\f29a"}.fa-wheelchair-alt:before{content:"\f29b"}.fa-question-circle-o:before{content:"\f29c"}.fa-blind:before{content:"\f29d"}.fa-audio-description:before{content:"\f29e"}.fa-volume-control-phone:before{content:"\f2a0"}.fa-braille:before{content:"\f2a1"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:"\f2a4"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-signing:before,.fa-sign-language:before{content:"\f2a7"}.fa-low-vision:before{content:"\f2a8"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-pied-piper:before{content:"\f2ae"}.fa-first-order:before{content:"\f2b0"}.fa-yoast:before{content:"\f2b1"}.fa-themeisle:before{content:"\f2b2"}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:"\f2b3"}.fa-fa:before,.fa-font-awesome:before{content:"\f2b4"}.fa-handshake-o:before{content:"\f2b5"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-open-o:before{content:"\f2b7"}.fa-linode:before{content:"\f2b8"}.fa-address-book:before{content:"\f2b9"}.fa-address-book-o:before{content:"\f2ba"}.fa-vcard:before,.fa-address-card:before{content:"\f2bb"}.fa-vcard-o:before,.fa-address-card-o:before{content:"\f2bc"}.fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"}.fa-user-o:before{content:"\f2c0"}.fa-id-badge:before{content:"\f2c1"}.fa-drivers-license:before,.fa-id-card:before{content:"\f2c2"}.fa-drivers-license-o:before,.fa-id-card-o:before{content:"\f2c3"}.fa-quora:before{content:"\f2c4"}.fa-free-code-camp:before{content:"\f2c5"}.fa-telegram:before{content:"\f2c6"}.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thermometer-2:before,.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-1:before,.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-0:before,.fa-thermometer-empty:before{content:"\f2cb"}.fa-shower:before{content:"\f2cc"}.fa-bathtub:before,.fa-s15:before,.fa-bath:before{content:"\f2cd"}.fa-podcast:before{content:"\f2ce"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-times-rectangle:before,.fa-window-close:before{content:"\f2d3"}.fa-times-rectangle-o:before,.fa-window-close-o:before{content:"\f2d4"}.fa-bandcamp:before{content:"\f2d5"}.fa-grav:before{content:"\f2d6"}.fa-etsy:before{content:"\f2d7"}.fa-imdb:before{content:"\f2d8"}.fa-ravelry:before{content:"\f2d9"}.fa-eercast:before{content:"\f2da"}.fa-microchip:before{content:"\f2db"}.fa-snowflake-o:before{content:"\f2dc"}.fa-superpowers:before{content:"\f2dd"}.fa-wpexplorer:before{content:"\f2de"}.fa-meetup:before{content:"\f2e0"}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
/********************font-awesome end*****************/
/* Magnific Popup CSS */
.mfp-bg {top: 0;left: 0;width: 100%;height: 100%;z-index: 1042;overflow: hidden;position: fixed;background: #0b0b0b;opacity: 0.8;}
.mfp-wrap {top: 0;left: 0;width: 100%;height: 100%;z-index: 1043;position: fixed;outline: none !important;-webkit-backface-visibility: hidden;}
.mfp-container {text-align: center;position: absolute;width: 100%;height: 100%;left: 0;top: 0;padding: 0 8px;box-sizing: border-box;}
.mfp-container:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
.mfp-align-top .mfp-container:before {display: none;}
.mfp-content {position: relative;display: inline-block;vertical-align: middle;margin: 0 auto;text-align: left;z-index: 1045;}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {width: 100%;cursor: auto;}
.mfp-ajax-cur {cursor: progress;}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {cursor: -moz-zoom-out;cursor: -webkit-zoom-out;cursor: zoom-out;}
.mfp-zoom {cursor: pointer;cursor: -webkit-zoom-in;cursor: -moz-zoom-in;cursor: zoom-in;}
.mfp-auto-cursor .mfp-content {cursor: auto;}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {-webkit-user-select: none;-moz-user-select: none;user-select: none;}
.mfp-loading.mfp-figure {display: none;}
.mfp-hide {display: none !important;}
.mfp-preloader {color: #CCC;position: absolute;top: 50%;width: auto;text-align: center;margin-top: -0.8em;left: 8px;right: 8px;z-index: 1044;}
.mfp-preloader a {color: #CCC;}
.mfp-preloader a:hover {color: #FFF;}
.mfp-s-ready .mfp-preloader {display: none;}
.mfp-s-error .mfp-content {display: none;}
button.mfp-close, button.mfp-arrow {overflow: visible;cursor: pointer;background: transparent;border: 0;-webkit-appearance: none;display: block;outline: none;padding: 0;z-index: 1046;box-shadow: none;touch-action: manipulation;}button::-moz-focus-inner {padding: 0;border: 0;}
.mfp-close {width: 44px;height: 44px;line-height: 44px;position: absolute;right: 0;top: 0;text-decoration: none;text-align: center;opacity: 0.65;padding: 0 0 18px 10px;color: #FFF;font-style: normal;font-size: 28px;font-family: Arial, Baskerville, monospace;}
.mfp-close:hover,  .mfp-close:focus {opacity: 1;}
.mfp-close:active {top: 1px;}
.mfp-close-btn-in .mfp-close {color: #333;}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {color: #FFF;right: -6px;text-align: right;padding-right: 6px;width: 100%;}
.mfp-counter {position: absolute;top: 0;right: 0;color: #CCC;font-size: 12px;line-height: 18px;white-space: nowrap;}
.mfp-arrow {position: absolute;opacity: 0.65;margin: 0;top: 50%;margin-top: -55px;padding: 0;width: 90px;height: 110px;-webkit-tap-highlight-color: transparent;}
.mfp-arrow:active {margin-top: -54px;}
.mfp-arrow:hover,  .mfp-arrow:focus {opacity: 1;}
.mfp-arrow:before,  .mfp-arrow:after {content: '';display: block;width: 0;height: 0;position: absolute;left: 0;top: 0;margin-top: 35px;margin-left: 35px;border: medium inset transparent;}
.mfp-arrow:after {border-top-width: 13px;border-bottom-width: 13px;top: 8px;}
.mfp-arrow:before {border-top-width: 21px;border-bottom-width: 21px;opacity: 0.7;}
.mfp-arrow-left {left: 0;}
.mfp-arrow-left:after {border-right: 17px solid #FFF;margin-left: 31px;}
.mfp-arrow-left:before {margin-left: 25px;border-right: 27px solid #3F3F3F;}
.mfp-arrow-right {right: 0;}
.mfp-arrow-right:after {border-left: 17px solid #FFF;margin-left: 39px;}
.mfp-arrow-right:before {border-left: 27px solid #3F3F3F;}
.mfp-iframe-holder {padding-top: 40px;padding-bottom: 40px;}
.mfp-iframe-holder .mfp-content {line-height: 0;width: 100%;max-width: 900px;}
.mfp-iframe-holder .mfp-close {top: -40px;}
.mfp-iframe-scaler {width: 100%;height: 0;overflow: hidden;padding-top: 56.25%;}
.mfp-iframe-scaler iframe {position: absolute;display: block;top: 0;left: 0;width: 100%;height: 100%;box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);background: #000;}
/* Main image in popup */
img.mfp-img {width: auto;max-width: 100%;height: auto;display: block;line-height: 0;box-sizing: border-box;padding: 40px 0 40px;margin: 0 auto;}
/* The shadow behind the image */
.mfp-figure {line-height: 0;}
.mfp-figure:after {content: '';position: absolute;left: 0;top: 40px;bottom: 40px;display: block;right: 0;width: auto;height: auto;z-index: -1;box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);background: #444;}
.mfp-figure small {color: #BDBDBD;display: block;font-size: 12px;line-height: 14px;}
.mfp-figure figure {margin: 0;}
.mfp-bottom-bar {margin-top: -36px;position: absolute;top: 100%;left: 0;width: 100%;cursor: auto;}
.mfp-title {text-align: left;line-height: 18px;color: #F3F3F3;word-wrap: break-word;padding-right: 36px;}
.mfp-image-holder .mfp-content {max-width: 100%;}
.mfp-gallery .mfp-image-holder .mfp-figure {cursor: pointer;}@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {/**      * Remove all paddings around the image on small screen      */ .mfp-img-mobile .mfp-image-holder {padding-left: 0;padding-right: 0;}.mfp-img-mobile img.mfp-img {padding: 0;}.mfp-img-mobile .mfp-figure:after {top: 0;bottom: 0;}.mfp-img-mobile .mfp-figure small {display: inline;margin-left: 5px;}.mfp-img-mobile .mfp-bottom-bar {background: rgba(0, 0, 0, 0.6);bottom: 0;margin: 0;top: auto;padding: 3px 5px;position: fixed;box-sizing: border-box;}.mfp-img-mobile .mfp-bottom-bar:empty {padding: 0;}.mfp-img-mobile .mfp-counter {right: 5px;top: 3px;}.mfp-img-mobile .mfp-close {top: 0;right: 0;width: 35px;height: 35px;line-height: 35px;background: rgba(0, 0, 0, 0.6);position: fixed;text-align: center;padding: 0;}}@media all and (max-width: 900px) {.mfp-arrow {-webkit-transform: scale(0.75);transform: scale(0.75);}.mfp-arrow-left {-webkit-transform-origin: 0;transform-origin: 0;}.mfp-arrow-right {-webkit-transform-origin: 100%;transform-origin: 100%;}.mfp-container {padding-left: 6px;padding-right: 6px;}}
/****************magnific POpupcss ENd***************/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}

.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
/*********************end Owl*******************/
.bulletText{margin:0 0 30px; padding:0; list-style:none;}
.bulletText li{padding-left:20px; position:relative; margin-bottom:10px;}
.bulletText li:before{content:"\f105"; font-family:'FontAwesome'; font-size:18px; color:#d02a27; position:absolute; left:0; top:1px;}
.bulletText.twoCols li{width:50%; float:left;}
.bulletText.twoCols li:nth-child(2n+1){clear:left;}
.bulletText.threeCols li{width:33.33%; float:left;}
.bulletText.threeCols li:nth-child(3n+1){clear:left;}
.mrgT150{margin-top:150px;}
/* =CSS Reset
========================================================================================*/
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
ul, ol, li{list-style:none; margin: 0; padding: 0;}
ul ul, ol ul, ul ol, ol ol{margin-bottom:0;}
.list-unstyled { padding-left: 0; list-style: none; }
.list-inline { padding-left: 0; list-style: none; margin-left: -5px; }
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }
dl { margin-top: 0; margin-bottom: 22px; }
dt, dd { line-height: 1.528571429; }
dt { font-weight: bold; }
dd { margin-left: 0; }
/* =Default Tag & General Classes
========================================================================================*/
html, body { height: 100%; min-width: 320px;}
body{margin:0; padding:0; font:14px/26px 'Gotham-Book'; color:#5b5c5e; font-weight:normal;}
img{max-width:100%; -ms-interpolation-mode:bicubic; vertical-align:middle;}
a, input[type="button"], input[type="submit"], button { outline: 0 none; -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in; -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in; -o-transition: background-color 0.2s ease-in, color 0.2s ease-in; -ms-transition: background-color 0.2s ease-in, color 0.2s ease-in; transition: background-color 0.2s ease-in, color 0.2s ease-in; }
a { color: #1362ad; text-decoration: none; outline: 0 none; -moz-transition:background-color 0.2s ease-in, color 0.2s ease-in; -webkit-transition:background-color 0.2s ease-in, color 0.2s ease-in; -o-transition:background-color 0.2s ease-in, color 0.2s ease-in; -ms-transition:background-color 0.2s ease-in, color 0.2s ease-in; transition:background-color 0.2s ease-in, color 0.2s ease-in;}
a:hover { color: #4e4e4e; text-decoration: none; outline: 0 none; }
a:active { outline: 0; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    a:active { background-color: transparent; }
}
strong {}
p { margin: 0 0 15px 0; }
h1, h2, h3, h4, h5 {  font-weight: 700;  }
h1, h2, h3, h4, h5, h6 { line-height: 100%; margin-bottom: 24px; color: #000;}
h1 { font-size: 30px; text-transform:uppercase; color:#28262b; font-weight:700;}
h2 { font-size: 30px; text-transform:uppercase; color:#2f363a; font-weight:700;}
h3 { font-size: 26px; text-transform:uppercase;  color:#2f363a;font-weight:700;}
h4 { font-size: 22px; text-transform:uppercase;  color:#2f363a;font-weight:700;}
h5 { font-size: 18px; text-transform:uppercase;  color:#2f363a;font-weight:700;}
.nodisplay { display: none; }
.nodisplay_strict { display: none !important; }
:focus { outline: none; }
/* =Typography
========================================================================================*/
#wrapper{width:100%; min-width:100%;  overflow:hidden;}
.container{max-width:1170px; width:auto;}
.bigContainer{max-width:1720px; width:auto; margin:0 auto;}
/* =Header
========================================================================================*/
#header{height:auto; background:none; padding:0 0 0 0; position:absolute; left:0; top:0;  width:100%; z-index:11;}
#header .navbar{padding:0;}
#header .navbar-nav{float:left; margin-top:0;}
#header .navbar-header{float:none; margin:0 auto; display:inline-block;}
#header .navbar-brand{padding:0; height:auto; }
#header.headerFixed{position:fixed; top:0; width:100%; left:0; animation:fadeInDown 0.5s ease-out; -webkit-animation:fadeInDown 0.5s ease-out; z-index:1111; box-shadow:0 5px 5px rgba(0,0,0,0.5); -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2); padding:10px 0; background:rgba(255,255,255,0.9)}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0, -100	%, 0);transform:translate3d(0, -100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0, -100%, 0);-ms-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0)}to{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}}
#header li .menuIcon{ width:46px; height:auto; background-color:rgba(0, 0, 0, 0.35); border-color:rgba(255, 255, 255, 0.2); background-image:url(../images/plus-icon.png); background-repeat:no-repeat; position:absolute; right:0; top:0; bottom:0; cursor:pointer; background-position:center 6px;}
#header  li .menuIcon.active{background-color: rgba(0, 0, 0, 0.5); background-image:url(../images/minus-icon.png);}
/*******top Search*************/
.searchWrap{position:absolute; right:0; top:0; width:250px;}
.searchWrap input[type="text"]{height:30px; background:none; border:0 none; border-bottom:1px solid #241109; width:100%; color:#241109; padding-right:30px;}
#search_submit{background:url(../images/searh-icon.png) left top no-repeat; width:18px; height:18px; position:absolute; right:0; top:5px; text-indent:-9999px; overflow:hidden; border:0 none;}
/* =nave
========================================================================================*/
/*.menuWrap{margin-top:-55px; padding-right:250px; position:relative;}
.navbar-collapse{padding:0; margin-top:0;}
#header .navbar-nav > li{margin:0;}
#header .navbar-nav > li > a{padding:8px 12px 8px 12px; color:#241109; font-size:16px; position:relative; text-transform:none; font-family: 'Gotham-Medium';}
#header .navbar-nav > li > a:after{transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; background:#e3010f; width:0; height:2px; content:""; position:absolute; left:12px;  bottom:0;}
#header .nav > li > a:hover, #header .nav > li > a:focus{background:none; color:#e3010f;}
#header .nav li.active a:after, #header .nav > li > a:hover:after{width:40px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
#header .dropdown-menu{padding:15px 15px 20px 15px; background:url(../images/inner-banner-img.png) center top no-repeat; background-size:cover; box-shadow:0px 10px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 10px 15px rgba(0, 0, 0, 0.25); width:200px; border:0 none;} */

.menuWrap{margin-top:-55px; padding-right:250px; position:relative;}
.navbar-collapse{padding:0; margin-top:0;}
#header .navbar-nav > li{margin:0;}
#header .navbar-nav > li > a{padding:8px 12px 8px 12px; color:#241109; font-size:16px; position:relative; text-transform:none; font-family: 'Gotham-Medium';}
#header .navbar-nav > li > a:after{transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; background:#e3010f; width:0; height:2px; content:""; position:absolute; left:12px;  bottom:0;}
#header .nav > li > a:hover, #header .nav > li > a:focus{background:none; color:#e3010f;}
#header .nav li.active a:after, #header .nav > li > a:hover:after{width:40px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
#header .dropdown-menu{padding:0; background:url(../images/inner-banner-img.png) center top no-repeat; background-size:cover; box-shadow:0px 10px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 10px 15px rgba(0, 0, 0, 0.25); width:200px; border:0 none; max-height:0; overflow:hidden;}




/* =Banner
========================================================================================*/
#banner{width:100%; position:relative; z-index:1; background:#000 url(../images/header-bg.jpg) center top no-repeat; padding:83px 0 180px; background-size:cover;}
#slider{position:relative;}
/*#banner #slider .item > img{visibility:hidden;}*/
#banner  #slider .item > img{display: block; width:100%; height: auto;}
.bannerLeft{width:55%; float:left; padding:150px 0; position:absolute; left:20px; top:50%; height:100%; text-align:center; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.karina{ width:55%; float:left; padding:150px 0; position:absolute; left:0px; top:40%; height:100%; text-align:center; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.bannerRightImg{width:50%; position:absolute; left:50%; margin-left:180px; bottom:0;}
#banner .caption .container{position:relative; height:100%;}
#banner .caption{position:absolute; left:0; top:0; height:100%; width:100%; text-align:center;}
#banner .caption h2{color:#fff; font-size:81px; line-height:1.2; vertical-align:top; padding-bottom:0; margin-bottom:30px; text-transform:none; font-family: 'Gotham-Medium'; margin-bottom:1px;}
#banner .caption p{color:#fff; font-size:53px; line-height:1.2; vertical-align:top; padding-bottom:0; margin-bottom:30px; text-transform:none; font-family: 'Gotham-Medium'; }
.commonBtn, .readMore{display:inline-block; background:#ed1c24; border:1px solid transparent; color:#fff;  padding:10px 30px 10px 30px; text-align:center; position:relative; transition:all 0.2s ease-out; -webkit-transition:all 0.2s ease-out; text-transform:uppercase; font-size:17px; font-family: 'Gotham-Medium';}
.commonBtn:hover, .readMore:hover{color:#ed1c24; background:#fff; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; border:1px solid #ed1c24;}
.readMore{border-radius:30px; -webkit-border-radius:30px;}
.bdrBtn{display:inline-block; background:none; color:#fff; border:2px solid #fff; font-size:13px; padding:12px 30px 12px 30px; text-align:center; position:relative; transition:all 0.2s ease-out; -webkit-transition:all 0.2s ease-out; text-transform:uppercase; border-radius:30px; -webkit-border-radius:30px; font-size:19px; font-weight:600;}
.bdrBtn:hover{color:#d02a27; background:#fff; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
#banner .owl-dots{position:absolute; left:50%; bottom:-60px; transform:translateX(-50%); -webkit-transform:translateX(-50%);}
#banner:hover .owl-controls{opacity:1; visibility:visible;}
#banner .owl-dot span{height:10px; width:10px; display:inline-block; margin:0 5px; border-radius:50%; -webkit-border-radius:50%; background:rgba(255,255,255,0.5); transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
#banner .owl-dot.active span{background:rgba(255,255,255,1); height:12px; width:12px;}
#banner .owl-nav .owl-prev{position:absolute; background:url(../images/slider-arrow-icon.png) left top no-repeat !important; width:26px; height:23px; position: absolute; left:25px; text-indent:-9999px; overflow:hidden; top:50%; transition:all 0.5s ease-out;  margin-top:-12px; -webkit-transition:all 0.5s ease-out;}
#banner .owl-nav .owl-next{position:absolute; background:url(../images/slider-arrow-icon.png) right top no-repeat !important; width:26px; height:23px; position: absolute; right:25px; text-indent:-9999px; overflow:hidden; top:50%; margin-top:-12px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
#banner .owl-nav .owl-prev:hover{background-position:left top !important;}
#banner .owl-nav .owl-next:hover{background-position:right top !important;}
/* =contentSection
========================================================================================*/
.contentSection{padding:100px 0; }
.contentSection h2{font-size:42px; line-height:62px; text-transform:uppercase; color:#4f2816; font-weight:400; margin-bottom:50px; font-family: 'Gotham-Bold'; letter-spacing:2px;}
.contentSection .tagLine{color:#7e8185; font-size:18px; font-family: 'Gotham-Medium';}
.contentPad{padding:0 40px;}
.contentSection .commonBtn{margin-top:30px;}
.contentSection .whiteText h2 span{color:#fff;}
.contentSection .whiteText p{color:#fff;}
.contentSection h3{font-size:22px; padding-bottom:15px; position:relative; margin-bottom:15px; color:#fff;}
.commonBtn.bdrBtn{background:none; border:1px solid #000000; color:#000;}
.commonBtn.bdrBtn:hover{color:#fff; background:#000000; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.whiteText .commonBtn.bdrBtn{background:none; border:1px solid #fff; color:#fff;}
.whiteText .commonBtn.bdrBtn:hover{color:#000; background:#fff; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.bgBackground{background-size:cover; background-repeat:no-repeat; background-position:center;}
.bgBackground img{visibility:hidden; opacity:0;}
.whiteText h2, .whiteText h3, .whiteText h4, .whiteText p, .whiteText {color:#fff;}
/* =aboutUs
========================================================================================*/
.aboutUs{background:rgba(228,37,37,1); background:-moz-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%);  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(228,37,37,1)), color-stop(100%, rgba(246,207,150,1))); background: -webkit-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: -o-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: -ms-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: linear-gradient(135deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42525', endColorstr='#f6cf96', GradientType=1 ); position:relative; z-index:1;}
.aboutText{background:#fff url(../images/about-us-img.jpg) left bottom no-repeat; padding:92px 0; margin-top:-200px; box-shadow:0 22px 38px rgba(0,0,0,0.09); -webkit-box-shadow:0 22px 38px rgba(0,0,0,0.09);}
.companyText{background:#fff url(../images/companyphoto.jpg) left 55px no-repeat; padding:0; margin-top:-100px; box-shadow:0 22px 38px rgba(0,0,0,0.09); -webkit-box-shadow:0 22px 38px rgba(0,0,0,0.09);}
.rightPosImg{position:absolute; right:-60px; bottom:-120px;}
.aboutUs p{line-height:30px; margin-bottom:40px; color:#000000;}

/* =domestic
========================================================================================*/
.domestic{background:#f6f6f6;}
.commonTabs > ul{margin-bottom:60px; border-bottom:0 none;}
.commonTabs .nav-tabs  li > a{font-size:16px; font-family: 'Gotham-Medium'; color:#808285; border-radius:none; -webkit-border-radius:none; border:0 none; padding:12px 25px; border-radius:30px; -webkit-border-radius:30px; letter-spacing:1px; display:block;}
.commonTabs .nav-tabs  li.active > a, .commonTabs  .nav-tabs  li.active > a:focus, .commonTabs .nav-tabs li.active > a:hover, .commonTabs  .nav-tabs  li > a:hover{color:#fff; background:#e3010f; border:0 none; }
.commonTabs .nav-tabs  li{margin-bottom:0;}
.commonTabs  .nav-tabs  li > a{margin-right:10px;}
.domProductBox .productImg{background:#fff; padding:40px 0; width:100%; box-shadow:0 18px 29px rgba(0,0,0,0.13); -webkit-box-shadow:0 18px 29px rgba(0,0,0,0.13); margin-bottom:40px; position:relative; overflow:hidden;}
.domProductBox .productImg:before{background:#e42625; height:55%; width:200%; transform:rotate(-11deg); -webkit-transform:rotate(-11deg); content:""; position:absolute; left:-50px; top:-50px;}
.domProductBox.turmericPowder .productImg:before{background:#ffed00;}
.domProductBox.cuminPowder .productImg:before{background:#ccdfa5;}
.domProductBox.corianderPowder .productImg:before{background:#c5d231;}
.domProductBox.classiching .productImg:before{background:#eea91d;}
.domProductBox.achaarMasalaSweet .productImg:before{background:#741c5c;}
.domProductBox.biryani .productImg:before{background:#688446;}
.domProductBox.kasurimathi .productImg:before{ background:#f3d70d;}
.domProductBox.garamMasala .productImg:before{background:#04598c;}
.domProductBox.blackpaper .productImg:before{ background:#4e8d99;}
.domProductBox.tea .productImg:before{ background:#848d7d;}
.domProductBox.kitchenking .productImg:before{background:#1b1713;}
.domProductBox.panipuri .productImg:before{background:#e8aa20;}
.domProductBox.pavbhaji .productImg:before{background:#277b6a;}
.domProductBox.punjabiChole .productImg:before{background:#a2ad35;}
.domProductBox.sambhar .productImg:before{background:#9fa437;}
.domProductBox.sabji .productImg:before{background:#56388e;}
.domProductBox.undhiya .productImg:before{background:#aecc47;}
.domProductBox.dosa .productImg:before{background:#bcac30;}
.domProductBox.gota .productImg:before{background:#b26726;}
.domProductBox.gulabjamun .productImg:before{background:#12a1cd;}
.domProductBox.idli .productImg:before{background:#40b49a;}
.domProductBox.khaman .productImg:before{background:#007e40;}
.domProductBox.dahiwada.productImg:before{background:#e67721;}
.domProductBox.dalwada .productImg:before{background:#0096d4;}
.domProductBox.dhokla .productImg:before{background:#b2107e;}
.domProductBox.khari .productImg:before{ background:#c70b52;}
.domProductBox.fishmasala .productImg:before{ background:#3c7469;}
.domProductBox.whitepaper .productImg:before{ background:#897b4b;}
.domProductBox.masalabundi .productImg:before{background:#266d37;}
.domProductBox.chanajor .productImg:before{background:#63682d;}
.domProductBox.bikaneri .productImg:before{background:#d52f50;}
.domProductBox.chavana .productImg:before{background:#009295;}
.domProductBox.singbhujia .productImg:before{background:#a34d2c;}
.domProductBox.faralichavdo .productImg:before{ background:#957eda;}
.domProductBox.bhel .productImg:before{background:#00406f;}
.domProductBox .productImg img{position:relative;}
.productDetail h3{color:#4f2816; font-size:18px; text-transform:capitalize; margin-bottom:0; font-family: 'Gotham-Medium'; font-weight:normal; padding-bottom:10px;}
.productDetail p{font-size:16px; margin-bottom:10px;}
.sizeList {margin:0 -2px; padding:0; list-style:none;}
.sizeList li{display:inline-block; font-size:11px; font-family: 'Gotham-Medium'; font-weight:400; padding:0 2px;}
.sizeList li span{border:1px solid #808285; border-radius:15px; -webkit-border-radius:15px; background:#fff; padding:5px 9px; min-width:62px;}
.rupees li{display:inline-block; font-size:11px; font-family: 'Gotham-Medium'; font-weight:400; padding:0 2px;}
.rupees span{border:1px solid #808285; border-radius:15px; -webkit-border-radius:15px; background:#fff; padding:5px 9px; min-width:62px;}
.rupees li span:before{ font-family:'FontAwesome'; content:"\f156"}
.rupeesnone:before{ display:none;}
.productSlider .item img{max-width:100%; width:auto; display:inline-block;}
.productSlider .item{text-align:center;}
/* =international
========================================================================================*/
.international h2{text-align:center;}
.interNationalTabs .nav-tabs{margin-bottom:0;}
.interNationalTabs .nav-tabs li > a{font-size:16px; font-family: 'Gotham-Medium'; color:#808285; border-radius:none; -webkit-border-radius:none; border:0 none; padding:12px 25px; border-radius:30px; -webkit-border-radius:30px; letter-spacing:1px; display:block; text-align:center;}
.interNationalTabs .nav-tabs  li.active > a, .interNationalTabs  .nav-tabs li.active > a:focus, .interNationalTabs .nav-tabs  li.active > a:hover, .interNationalTabs  .nav-tabs  li > a:hover{color:#fff; background:#e3010f; border:0 none; }
.interNationalTabs .nav-tabs li{margin-bottom:0;}
.interNationalTabs  .nav-tabs li > a{margin-right:10px;}
.intProductDetail .productSingleSlider{width:370px; position:relative; float:left; background:url(../images/international-product-bg.png) left top no-repeat; background-size:cover; box-shadow:0 11px 14px rgba(0,0,0,0.11); -webkit-box-shadow:0 11px 14px rgba(0,0,0,0.11);}
.intProductDetail .productImg{background:none; margin-bottom:0; box-shadow:none; -webkit-box-shadow:none;}
.intProductDetail .productImg:before{display:none;}
.intProductDetail .owl-carousel .item {text-align:center;}
.intProductDetail .owl-carousel .owl-item img{width:auto; display:inline-block; max-width:100%;}
.intProductDetail .productDetail{margin-bottom:35px;}
.productSingleSlider {margin:35px 0;}
.internationalTabsSlider .owl-nav{display:block !important;}
.productSlider  .owl-dots{display:block !important;}
.internationalTabsSlider .owl-nav .owl-prev{position:absolute; background:url(../images/slider-arrow-icon.png) left bottom no-repeat !important; width:26px; height:23px; position: absolute; left:-50px; text-indent:-9999px; overflow:hidden; top:15px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.internationalTabsSlider .owl-nav .owl-next{position:absolute; background:url(../images/slider-arrow-icon.png) right bottom no-repeat !important; width:26px; height:23px; position: absolute; right:-50px; text-indent:-9999px; overflow:hidden; top:13px; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.internationalTabsSlider .owl-nav .owl-prev:hover{background-position:left top !important;}
.internationalTabsSlider .owl-nav .owl-next:hover{background-position:right top !important;}
.productSingleSlider .owl-nav .owl-prev{width:60px; height:60px; background:#fff !important; box-shadow:0 6px 24px rgba(0,0,0,0.25); -webkit-box-shadow:0 6px 24px rgba(0,0,0,0.25); position:absolute; left:-30px; top:50%; margin-top:-30px; border-radius:50%; -webkit-border-radius:50%;}
.productSingleSlider .owl-nav .owl-next{width:60px; height:60px; background:#fff !important; box-shadow:0 6px 24px rgba(0,0,0,0.25); -webkit-box-shadow:0 6px 24px rgba(0,0,0,0.25); position:absolute; right:-30px; top:50%; margin-top:-30px; border-radius:50%; -webkit-border-radius:50%;}
.productSingleSlider .owl-nav .owl-prev span{background:url(../images/slider-arrow-icon.png) left bottom no-repeat !important; width:26px; height:23px; text-indent:-9999px; overflow:hidden; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; display:inline-block; vertical-align:middle;}
.productSingleSlider .owl-nav .owl-next span{background:url(../images/slider-arrow-icon.png) right bottom no-repeat !important; width:26px; height:23px; text-indent:-9999px; overflow:hidden; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; display:inline-block; vertical-align:middle;}
.productSingleSlider .owl-nav .owl-prev:hover span{background-position:left top !important;}
.productSingleSlider .owl-nav .owl-next:hover span{background-position:right top !important;}
.intprodcutListing{background:#f6f6f6; width:75%; float:right; padding:35px 35px 35px 150px; margin-left:-90px; min-height:450px;}
.intprodcutListing ul{margin:0 -10px; padding:0; list-style:circle inside;}
.intprodcutListing li{width:33.33%; float:left; padding:0 10px; list-style:disc; margin-bottom:15px; font-size:12px; line-height:1;}
.intprodcutListing li:nth-child(3n+1){clear:left;}
/* =foodServices
========================================================================================*/
.foodServices{background:url(../images/food-service-bg.jpg) center top no-repeat; background-size:cover; padding:100px 0 130px;}
.foodServices h2{text-align:center;}
.servicesListWrap{margin:0 -15px 50px; padding:0 0; list-style:none;}
.servicesListWrap li{width:20%; float:left; padding:0 15px;}
.serivesIcon{background:url(../images/food-services-icons.png) left top no-repeat; height:84px; width:90px; display:inline-block; text-indent:-9999px; overflow:hidden; margin-bottom:20px;}
.serivesIcon.hotel{background-position:6px top;}
.serivesIcon.restaurant{background-position:-126px top;}
.serivesIcon.cafe{background-position:-251px top;}
.serivesIcon.airlines{background-position:-376px top;}
.serivesIcon.catering{background-position:-504px top;}
.servicesBox{min-height:210px; width:100%; text-align:center; padding:40px 10px; background:#e3010f; box-shadow:0 18px 20px rgba(0,0,0,0.74); -webkit-box-shadow:0 18px 20px rgba(0,0,0,0.74); text-align:center;}
.serviceTitle{display:block; text-align:center; font-size:18px; font-family: 'Gotham-Bold'; text-transform:uppercase; letter-spacing:1px;}
.foodServices h3{font-size:18px; font-family: 'Gotham-Bold'; font-weight:normal; margin-bottom:25px; line-height:1.3; padding-bottom:0;}
.foodServices p{margin-bottom:30px;}
.foodServices p a{color:#e3010f; text-decoration:underline;}
.foodServices p a:hover{text-decoration:none;}
/* =caterings
========================================================================================*/
.caterings{background:rgba(228,37,37,1); background:-moz-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%);  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(228,37,37,1)), color-stop(100%, rgba(246,207,150,1))); background: -webkit-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: -o-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: -ms-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: linear-gradient(135deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42525', endColorstr='#f6cf96', GradientType=1 ); position:relative; padding:100px 15px 0; max-height:573px; z-index:1000;}
.caterings .bigContainer{padding:0 15px;}
.caterings .whiteBox{background:#fff url(../images/catering-img.jpg) right top no-repeat;  background-size:35% 100%; box-shadow:0 8px 32px rgba(0,0,0,0.1); -webkit-box-shadow:0 8px 32px rgba(0,0,0,0.1); margin-top:-180px; margin-bottom:-180px; z-index:1; position:relative;}
.caterings  .whiteBoxCont{padding:19px 51px 0;}
.caterings h2{margin-bottom:0;}
.bigTitle{font-family: 'Gotham-Bold'; font-size:18px; margin-bottom:30px;}
.rightImg{position:absolute; right:20px; top:-90px; width:30%;}
.caterings p{text-align:justify; margin-bottom:30px;}
.redText, .redText a{color:#e3010f;}
.redText a:hover{text-decoration:none;}
.item-video iframe{width:100%;}
.rightBottomImg{position:absolute; right:0; bottom:0; text-align:center;}
.rightBottomImg img{max-width:90%;}
/* =career
========================================================================================*/
.career{background:#f6f6f6; padding:100px 0 100px;}
.career h2{text-align:center;}
/*********commonForms************/
.commonForm h3{font-family: 'Gotham-Bold'; font-size:18px; font-weight:normal; padding-bottom:0; margin-bottom:20px; color:#808285;}
.mrgT40{margin-top:40px;}
.commonForm input[type='text'], .commonForm input[type='email'], .commonForm input[type='file'],  .commonForm input[type='phone'],  .commonForm input[type='password']{border-radius:0; -webkit-border-radius:0; font-size:14px; font-weight:500; border:1px solid #eaeaea; color:#808285; height:54px; background:#fff; font-family: 'Gotham-Medium';}
.commonForm input[type='text']:focus, .commonForm input[type='email'], .commonForm input[type='file'],  .commonForm input[type='phone'],  .commonForm input[type='password']{box-shadow:0 8px 32px rgba(0,0,0,0.1); -webkit-box-shadow:0 8px 32px rgba(0,0,0,0.1); color:#e3010f;  }
.commonForm .commonBtn{margin-top:0;}
.commonForm .form-group{margin-bottom:18px;}
.commonForm ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.commonForm ::-moz-placeholder { /* Firefox 19+ */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.commonForm :-ms-input-placeholder { /* IE 10+ */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.radioList{margin:0 0 20px; padding:0; list-style:none;}
.radioListWrap li{position:relative; display:inline-block; margin-right:10px; }
.radioListWrap input{opacity:0; visibility:hidden; position:absolute; left:0; top:0;}
.radioListWrap label{text-align:left; margin-bottom:10px; font-size:14px; display:block; padding-left:30px; position:relative; font-family: 'Gotham-Medium';}
.radioListWrap label:before{width:20px; height:20px; position:absolute; top:50%; left:0; border:1px solid #808285; border-radius:50%; -webkit-border-radius:50%; content:""; margin-top:-10px;}
.radioListWrap input:checked + label:after{background:#e52e2a; width:8px; height:8px; position:absolute; top:50%; left:6px; border-radius:50%; -webkit-border-radius:50%; content:""; margin-top:-4px;}
.commonForm .btn{width:100%; font-size:14px; text-transform:none; height:52px; border-radius:30px; -webkit-border-radius:30px;}
/* =productCarousel
========================================================================================*/
.productCarousel{background:url(../images/product-slider-bg.jpg) center bottom no-repeat; padding:50px 0 50px; min-height:700px;  background-size:cover;}
.titleImage{text-align:center; margin-bottom:120px;}
.productCarouselSlider .item{transform:scale(.6); -webkit-transform:scale(.6); transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; margin-bottom:60px;}
.productCarouselSlider .item .bottomShadowText{opacity:0; visibility:hidden; display:none; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.productCarouselSlider .center .item .bottomShadowText{opacity:1; visibility:visible; display:block;}
.productCarouselSlider .center .item{transform:scale(1); -webkit-transform:scale(1); }
.productCaroselImg{position:relative; display:inline-block;}
.productCaroselImg:before {width:100%; height:84px; position:absolute; left:-10px; bottom:-45px; content:""; background:url(../images/product-carousel-box.png) left center no-repeat; background-size:100%;}
.center .item .productCaroselImg:before{bottom:-60px;}
.productCarouselSlider .owl-next{background:url(../images/slider-white-prev.png) left top no-repeat; width:57px; height:40px; position:absolute; left:-53px; top:50%; margin-top:-20px; text-indent:0; text-indent:-999px; overflow:hidden;}
.productCarouselSlider .owl-prev{background:url(../images/slider-white-next.png) left top no-repeat; width:57px; height:40px; position:absolute; right:-53px; top:50%; margin-top:-20px; text-indent:0;  text-indent:-999px; overflow:hidden;}
.bottomShadowText{text-align:center; font-size:36px; color:#fff; font-family:'Gotham-Medium'; margin-top:-20px; margin-bottom:50px; position:absolute; left:50%; bottom:-100px; width:500px; margin-left:-250px;}
.productCarouselWrap{padding:0 53px;}
/* =recentTvc
========================================================================================*/
.kitchenTvc{background:rgba(228,37,37,1); background:-moz-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%);  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(228,37,37,1)), color-stop(100%, rgba(246,207,150,1))); background: -webkit-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: -o-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: -ms-linear-gradient(-45deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); background: linear-gradient(135deg, rgba(228,37,37,1) 0%, rgba(246,207,150,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42525', endColorstr='#f6cf96', GradientType=1 ); position:relative; padding:90px 0 0; text-align:center; z-index:1;}
.kitchenTvc .item-video{height:341px;}
.kitchenTvc  .owl-video-wrapper{height:100%; width:100%;}
.tvcSliderWrap{padding:30px 60px;}
.owl-carousel .owl-video-play-icon{background:url(../images/play-icon.png) center top no-repeat;}
.tvcSliderWrap .owl-nav.disabled{display:block !important;}
.tvcSliderWrap .owl-nav button.owl-prev{width:45px; height:45px; background:#fff !important; box-shadow:0 6px 24px rgba(0,0,0,0.25); -webkit-box-shadow:0 6px 24px rgba(0,0,0,0.25); position:absolute; left:-30px; top:50%; margin-top:-30px; border-radius:50%; -webkit-border-radius:50%;}
.tvcSliderWrap .owl-nav button.owl-next{width:45px; height:45px; background:#fff !important; box-shadow:0 6px 24px rgba(0,0,0,0.25); -webkit-box-shadow:0 6px 24px rgba(0,0,0,0.25); position:absolute; right:-30px; top:50%; margin-top:-30px; border-radius:50%; -webkit-border-radius:50%;}
.tvcSliderWrap .owl-nav button.owl-prev span{background:url(../images/slider-arrow-icon.png) left bottom no-repeat !important; width:26px; height:23px; text-indent:-9999px; overflow:hidden; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; display:inline-block; vertical-align:middle;}
.tvcSliderWrap .owl-nav button.owl-next span{background:url(../images/slider-arrow-icon.png) right bottom no-repeat !important; width:26px; height:23px; text-indent:-9999px; overflow:hidden; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; display:inline-block; vertical-align:middle;}
.tvcSliderWrap .owl-nav button.owl-prev:hover span{background-position:left top !important;}
.tvcSliderWrap .owl-nav button.owl-next:hover span{background-position:right top !important;}
.tvcSliderWrap .item-video{transform:scale(.8); -webkit-transform:scale(.8); transition:all 0.2s ease-out; -webkit-transition:all 0.2s ease-out; margin-bottom:60px;}
.tvcSliderWrap .center .item-video{transform:scale(1); -webkit-transform:scale(1); }
.item-video .owl-video-tn{background-size:cover;}
.kitchenTvc .leftImg{left:-60px; bottom:-100px; position:absolute;}
/* =Footer
========================================================================================*/
/*#footer{ position:relative; background:url(../images/footer-bg.jpg) center top no-repeat; background-size:cover; padding:210px 0 0;}
#footer .footerLogo{position:absolute; left:50%; top:0; margin-left:-128px;}
#footer a{color:#fff;}
#footer a:hover{color:#fff; opacity:0.8;}*/

/* light */
#footer{ position:relative; background:url(../images/footer-bg-light.jpg) center top no-repeat; background-size:cover;}
#footer .footerLogo{position:absolute; left:50%; top:0; margin-left:-128px;}
#footer a{color:#000;}
#footer a:hover{color:#000; opacity:0.8;}
#footer input, textarea{ border:1px solid red;}


#footerlight{ position:relative; background:url(../images/footer-bg-light.jpg) center top no-repeat; background-size:cover; padding:210px 0 0;}
#footerlight .footerLogo{position:absolute; left:50%; top:0; margin-left:-128px;}
#footerlight a{color:#000;}
#footerlight a:hover{color:#000; opacity:0.8;}
#footerlight input, textarea{ border:1px solid red;}



.socialIcons{padding-top:20px; text-align:center;}
.socialIcons a{display:inline-block; width:50px; height:50px; font-size:22px; border-radius:50%; border:2px solid rgba(255,255,255,0.5); line-height:46px; vertical-align:middle; margin:0 5px;}
/*
.footerRowTwo{padding:30px 0 20px; background:none; color:#fff; font-size:14px; border-top:1px solid rgba(255,255,255,0.5);}
.footerRowTwo p{margin-bottom:0;}
.footerRowTwo a{margin:0 4px;}
.footerRowTwo a:first-child{margin-left:0;}*/

.footerRowTwo{padding:140px 0 20px; background:none; color:#000; font-size:14px; border-top:1px solid #000;}
.footerRowTwo p{margin-bottom:0;}
.footerRowTwo a{margin:0 4px;}
.footerRowTwo a:first-child{margin-left:0;}


/* light*/
.footerlightRowTwo{padding:30px 0 20px; background:none; color:#000; font-size:14px; border-top:1px solid #000;}
.footerlightRowTwo p{margin-bottom:0;}
.footerlightRowTwo a{margin:0 4px;}
.footerlightRowTwo a:first-child{margin-left:0;}

.contactFormWrap .commonBtn{margin-top:0;}
.contactFormWrap .form-group{margin-bottom:18px;}
.contactFormWrap textarea{width:100%; height:108px; padding:10px 15px;}
.contactFormWrap ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.contactFormWrap ::-moz-placeholder { /* Firefox 19+ */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.contactFormWrap :-ms-input-placeholder { /* IE 10+ */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}



/* lignt bg*/
.contactlightFormWrap input[type='text']:focus, .contactFormWrap input[type='email'], .contactFormWrap input[type='file'],  .contactlightFormWrap input[type='phone'],  .contactFormWrap input[type='password'], .contactFormWrap textarea:focus{border:1px solid red; color:#000; background:rgba(255,255,255,.1); box-shadow:none; -webkit-box-shadow:none; }





.contactlightFormWrap .commonBtn{margin-top:0;}
.contactlightFormWrap .form-group{margin-bottom:18px;}
.contactlightFormWrap textarea{width:100%; height:108px; padding:10px 15px;}
.contactlightFormWrap ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.contactlightFormWrap ::-moz-placeholder { /* Firefox 19+ */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}
.contactlightFormWrap :-ms-input-placeholder { /* IE 10+ */
    color: #808285 !important;
    opacity:1 !important;
    font-size:14px !Important;
    font-family: 'Gotham-Book' !important;
}



.footerContactDetails{padding-bottom:80px;}
.contactFormWrap .btn{width:187px; font-size:14px; text-transform:none; height:52px; border-radius:30px; -webkit-border-radius:30px; background:#e3010f;}
.contactFormWrap .btn:hover{background:#fff; color:#e3010f;}
.btnRow{text-align:right;}
/*.footerContactDetails h2{font-size:24px; line-height:45px; text-transform:uppercase; font-weight:400; margin-bottom:50px; font-family: 'Gotham-Bold'; letter-spacing:2px; color:#fff; margin-bottom:40px;}*/
.footerContactDetails h2{font-size:24px; line-height:45px; text-transform:uppercase; font-weight:400; margin-bottom:50px; font-family: 'Gotham-Bold'; letter-spacing:2px; color:#000; margin-bottom:40px;}
.footerContactDetails p{ color:#000;}
.address{background:url(../images/address-icon.png) left top no-repeat; padding-left:46px; font-size:16px; color:#fff; margin-bottom:40px;}



.footerlightContactDetails h2{font-size:24px; line-height:45px; text-transform:uppercase; font-weight:400; margin-bottom:50px; font-family: 'Gotham-Bold'; letter-spacing:2px; color:#000; margin-bottom:40px;}
.footerlightContactDetails p{ color:#000;}
.address{background:url(../images/address-icon.png) left top no-repeat; padding-left:46px; font-size:16px; color:#fff; margin-bottom:40px;}
.email{background:url(../images/email-icon.png) left top no-repeat; padding-left:46px; font-size:16px; color:#fff;}
.footerContactDetails h3{color:#e3010f; font-size:14px; margin-bottom:5px;}
.socialIcons{padding-top:0; text-align:right; margin-top:-5px;}
.socialIcons a{display:inline-block; width:40px; height:40px; font-size:18px; border-radius:50%; border:1px solid gray; line-height:36px; vertical-align:middle; margin:0 5px; text-align:center;}
/* =innerBanner
========================================================================================*/
#banner.innerBanner{padding-bottom:0;}
.innerBannerWrap{background:url(../images/inner-banner-img.png) center top no-repeat; min-height:250px; margin:0; background-size:100%; padding-top:160px; border-bottom:27px solid #d3a763;}

.innerBannerWrap h1{font-size:40px; color:#e3010f; margin-bottom:0; font-weight:700; font-family:"Chela One", cursive; text-transform:none;}
.innerContent h2{ font-size:35px; line-height: normal; margin:20px 0 10px 0;  }
.innerContent h3{ color:#4f2816; margin:20px 0 10px 0; padding:0;  }
.red{ color:#e3010f !important;}
.innerContent h3 span{ clear:both; display:block; font-size:14px; color: #999; font-weight:normal; font-family: }
.innerFooter{ border-top:27px solid #d3a763; position:relative;}
.innerFooter .leftImg{left:-60px; top:-100px; position:absolute;}
.founderbx{background: #c60e0a !important; color: #fff; border-radius:8px;}
.tab-pane p{ text-align:center; font-size:16px; font-weight:bold;}

/* =productCarousel
========================================================================================*/
.productCarousel{background:url(../images/product-slider-bg.jpg) center bottom no-repeat; padding:50px 0 50px; min-height:700px;  background-size:cover;}
.titleImage{text-align:center; margin-bottom:120px;}
.productCarouselSlider .item{transform:scale(.6); -webkit-transform:scale(.6); transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out; margin-bottom:60px; padding-bottom:30px;}
.productCarouselSlider .item .bottomShadowText{opacity:0; visibility:hidden; display:none; transition:all 0.5s ease-out; -webkit-transition:all 0.5s ease-out;}
.productCarouselSlider .center .item .bottomShadowText{opacity:1; visibility:visible; display:block;}
.productCarouselSlider .center .item{transform:scale(1); -webkit-transform:scale(1); }
.productCaroselImg{position:relative; display:inline-block;}
.productCaroselImg:before {width:100%; height:84px; position:absolute; left:-10px; bottom:-45px; content:""; background:url(../images/product-carousel-box.png) left center no-repeat; background-size:100%;}
.center .item .productCaroselImg:before{bottom:-60px;}
.productCarouselSlider .owl-next{background:#fff url(../images/arrow-prev.png) center center no-repeat !important; width:43px; height:43px; position:absolute; left:-53px; top:35%; margin-top:-20px; text-indent:0; text-indent:-999px; overflow:hidden; border-radius:50% !important; -webkit-border-radius:50% !important;  z-index:1111;}
.productCarouselSlider .owl-prev{background:#fff url(../images/arrow-next.png) center center no-repeat  !important; width:43px; height:43px; position:absolute; right:-53px; top:35%; margin-top:-20px; text-indent:0;  text-indent:-999px; overflow:hidden; z-index:1111; border-radius:50% !important; -webkit-border-radius:50% !important; }
.productCarouselSlider .owl-next:hover{background:#e3010f url(../images/arrow-hover-prev.png) center center  no-repeat !important;}
.productCarouselSlider .owl-prev:hover{background:#e3010f url(../images/arrow-hover-next.png) center center  no-repeat !important;}
.bottomShadowText{text-align:center; font-size:36px; color:#fff; margin-top:-20px; margin-bottom:50px; position:absolute; left:50%; bottom:-90px; width:500px; margin-left:-250px; text-shadow:10px 10px 0 rgba(96,68,44,0.33),  -5px -5px 0 rgba(96,68,44,0.33),  5px -5px 0 rgba(96,68,44,0.33),  -5px 5px 0 rgba(96,68,44,0.33),  5px 5px 0 rgba(96,68,44,0.33);}
.productCarouselWrap{padding:0 53px;}

.dropdown-menu > li > a{ font-family:'Gotham-Medium' !important;}

.blackhoverWrap input[type='text']:focus, .blackhoverWrap input[type='email'], .blackhoverWrap input[type='file'],  .blackhoverWrap input[type='phone'],  .blackhoverWrap input[type='password'], .blackhoverWrap textarea:focus{border:1px solid #e3010f; color:#000000 !important; background:rgba(255,255,255,.1); box-shadow:none; -webkit-box-shadow:none; }
.pickles ul li{display:inline-block; width:25%; margin-left:20px;}
.bulletbg{ background:#f7f7f7; border-radius:8px;}
.form-control{ border:1px solid red;}
.qrcode{width:45%; margin:0 auto; padding:0;}
.contctFormPopup input{ margin-top:7px;}
.modal-content{ background:url(../images/popup-bg.png) repeat-x top center;}
#myModal{ z-index:1000000; margin-top:120px;}
.modal-footer{border-top: 1px solid #c49d5e;}
.modal-header{border-bottom: 1px solid #c49d5e;}
.modal-content{box-shadow:none; -webkit-box-shadow:none; border:none;}


/*Cookies Policy Style*/
/* https://www.websitepolicies.com/cookie-consent-banner-generator */
.wpcc-container {
    opacity: 1
}

.wpcc-transparency-5 {
    opacity: .95
}

.wpcc-transparency-10 {
    opacity: .9
}

.wpcc-transparency-15 {
    opacity: .85
}

.wpcc-transparency-20 {
    opacity: .8
}

.wpcc-transparency-25 {
    opacity: .75
}

.wpcc-container {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    overflow: hidden;
    position: fixed;
    transition: opacity 1s ease;
    z-index: 9999
}

@media print {
    .wpcc-container {
        display: none
    }
}

.wpcc-pushdown-wrap {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s
}

.wpcc-pushdown {
    margin: 0 !important;
    position: static
}

.wpcc-invisible {
    opacity: 0
}

.wpcc-fontsize-tiny {
    font-size: 12px
}

.wpcc-fontsize-small {
    font-size: 14px
}

.wpcc-fontsize-large {
    font-size: 18px
}

.wpcc-border-thin {
    border-width: 1px
}

.wpcc-border-normal {
    border-width: 3px
}

.wpcc-border-thick {
    border-width: 5px
}

.wpcc-float {
    flex-direction: column;
    max-width: 22em;
    padding: 1.5em
}

.wpcc-float.wpcc-padding-small {
    padding: 1em
}

.wpcc-float.wpcc-padding-large {
    padding: 2em
}

.wpcc-banner {
    flex-direction: row;
    margin: 1em;
    padding: 1em
}

.wpcc-banner.wpcc-padding-small {
    padding: .5em .5em .5em 1em
}

.wpcc-banner.wpcc-padding-large {
    padding: 1.5em
}

.wpcc-banner.wpcc-margin-none {
    margin: 0
}

.wpcc-banner.wpcc-margin-small {
    margin: .5em
}

.wpcc-banner.wpcc-margin-large {
    margin: 1.5em
}

.wpcc-padding-none {
    padding: 0
}

.wpcc-padding-none.wpcc-float .wpcc-message {
    margin: 1em
}

.wpcc-padding-none.wpcc-banner .wpcc-message {
    margin: .8em 1em
}

.wpcc-padding-none.wpcc-banner .wpcc-btn {
    height: 100%;
    padding: .9em 1.5em
}

.wpcc-btn, .wpcc-privacy {
    cursor: pointer
}

.wpcc-privacy {
    display: inline-block;
    opacity: .85;
    text-decoration: underline
}

.wpcc-privacy:hover {
    opacity: 1
}

.wpcc-privacy:active, .wpcc-privacy:visited {
    color: initial
}

.wpcc-btn {
    display: block;
    font-size: .9em;
    font-weight: 700;
    padding: .4em .8em;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease
}

.wpcc-btn:hover {
    text-decoration: none
}

.wpcc-top {
    top: 1em
}

.wpcc-top.wpcc-margin-none {
    top: 0
}

.wpcc-top.wpcc-margin-small {
    top: .5em
}

.wpcc-top.wpcc-margin-large {
    top: 1.5em
}

.wpcc-left {
    left: 1em
}

.wpcc-left.wpcc-margin-none {
    left: 0
}

.wpcc-left.wpcc-margin-small {
    left: .5em
}

.wpcc-left.wpcc-margin-large {
    left: 1.5em
}

.wpcc-right {
    right: 1em
}

.wpcc-right.wpcc-margin-none {
    right: 0
}

.wpcc-right.wpcc-margin-small {
    right: .5em
}

.wpcc-right.wpcc-margin-large {
    right: 1.5em
}

.wpcc-bottom {
    bottom: 1em
}

.wpcc-bottom.wpcc-margin-none {
    bottom: 0
}

.wpcc-bottom.wpcc-margin-small {
    bottom: .5em
}

.wpcc-bottom.wpcc-margin-large {
    bottom: 1.5em
}

.wpcc-float .wpcc-message {
    display: block;
    margin-bottom: 1em
}

.wpcc-banner {
    align-items: center
}

.wpcc-banner.wpcc-top {
    left: 0;
    right: 0;
    top: 0
}

.wpcc-banner.wpcc-bottom {
    left: 0;
    right: 0;
    bottom: 0
}

.wpcc-banner .wpcc-message {
    display: block;
    flex: 1 1 auto;
    margin-right: 1em;
    max-width: 100%
}

.wpcc-float .wpcc-compliance {
    flex: 1 0 auto
}

.wpcc-corners-small {
    border-radius: 5px
}

.wpcc-corners-normal {
    border-radius: 7px
}

.wpcc-corners-large {
    border-radius: 10px
}

.wpcc-corners-round .wpcc-btn {
    border-radius: 4px
}

.wpcc-corners-round.wpcc-margin-none, .wpcc-corners-round.wpcc-padding-none .wpcc-btn {
    border-radius: 0
}

.wpcc-corners-round.wpcc-margin-none {
    border-radius: 0
}

@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
    .wpcc-top {
        top: 0 !important
    }

    .wpcc-bottom {
        bottom: 0 !important
    }

    .wpcc-banner, .wpcc-float, .wpcc-left, .wpcc-right {
        left: 0 !important;
        margin: 0 !important;
        right: 0 !important
    }

    .wpcc-banner {
        align-items: unset;
        flex-direction: column
    }

    .wpcc-corners-round {
        border-radius: 0 !important
    }

    .wpcc-float {
        max-width: none
    }

    .wpcc-message {
        margin-bottom: 1em
    }

    .wpcc-banner.wpcc-padding-small {
        padding: .5em
    }

    .wpcc-padding-small .wpcc-message {
        margin-bottom: .5em
    }
}



.radiobtn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 

/* Hide the browser's default radio button */
.radiobtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ac9062;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobtn:hover input ~ .checkmark {
  background-color: #ac9062;
}

/* When the radio button is checked, add a blue background */
.radiobtn input:checked ~ .checkmark {
  background-color: #d20e20;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobtn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobtn .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* multi select dropwone */
.selectionbox { visibility:hidden;}
.multiselect-native-select {position:relative; margin-top:7px; display:block;}
.multiselect-container > li > a > label > input[type="checkbox"]{margin-top:3px;}
.multiselect-native-select select{position:absolute;}
@media screen and (max-width: 360px){
    .radiobtn{ font-size:16px !important; }
    #myModal h2{font-size:20px !important;}
    
    
    
}
