.body_index {
    background-repeat: repeat;
}

.footer_managed_by {
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 100%;
    background-color: #477cc0;
    color: white;
    text-align: center;
}

.body_index .inner {
    bottom: 0px;
}

.managed_by {
    font-size: 14px;
    padding: 12px;
}

.sec_one {
    transform: none !important;
    position: unset;
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 1919px) {
    .footer_managed_by {
        bottom: -44px;
    }
}

@media screen and (max-width: 1279px) {
    .managed_by {
        padding: 12px;
    }
}

@media screen and (max-width: 991px) {
    .footer_managed_by {
        bottom: -43px;
        padding: 4px;
    }

    .managed_by {
        padding: 0;
        font-size: 12px;
    }

    
	.footer_managed_by,
	.inner{
		position:unset !important;
		width: 100% !important;
	}
	
}

@media screen and (max-width: 767px) {
    .body_index .inner {
        padding: 16px 0;
    }
}

@media screen and (max-width: 599px) {
    .managed_by {
        font-size: 12px;
    }

    .footer_managed_by {
        bottom: -48px;
        padding: 6px 0;
    }
}

@media screen and (max-width: 413px) {
    .footer_managed_by {
        bottom: -41px;
    }

    .managed_by {
        font-size: 9px;
        padding: 1px;
    }

    .body_index .inner .join_now {
        font-size: 10px;
    }

    section.sec_one {
        zoom: 0.8;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px) and (orientation: landscape) {
    section.sec_one {
        zoom: 1;
    }

    .footer_managed_by {
        bottom: -44px;
    }

    .body_index .sec_one .typography {
        margin: 20% 10% 20% 10%;
        zoom: 0.60;
    }

    html {
        zoom: 0.8;
    }

    .footer {
        position: relative;
        width: 100%;
        bottom: 0 !important;
        height: 20vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .footer_managed_by {
        bottom: -43px;
    }

    section.sec_one {
        zoom: 0.8;
    }

    .body_index .sec_one .typography {
        margin: 20% 10% 20% 10%;
        zoom: 0.60;
    }

    html {
        zoom: 0.8;
    }

    .footer {
        position: relative;
        width: 100%;
        bottom: 0 !important;
        height: 10vh;
    }
}

@media screen and (min-width: 240px) and (max-width: 767px) and (orientation: landscape) {
    section.sec_one {
        zoom: 0.6;
    }

    .body_index .sec_one .typography {
        margin: 26% 10%;
        zoom: 0.65;
    }

    .body_index .inner {
        bottom: -97px;
    }

    .footer_managed_by {
        bottom: -141px;
    }

    html {
        zoom: 0.8;
    }

    .footer {
        position: relative;
        width: 100%;
        bottom: 0 !important;
        height: 10vh;
    }
}

/* 1792x828px at 326ppi This media query is for: iPhone 11 and iPhone XR*/
@media only screen    and (device-width: 414px)    and (device-height: 896px)    and (-webkit-device-pixel-ratio: 2) {
    .footer {
        position: relative !important;
        bottom: 0 !important;
		width: 100% !important;
    }
}
@media screen and (max-width: 1439px) {
.body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 0vh;}
}



