@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$myFontRoboto: 'Roboto',
sans-serif;
$myFontBebas: 'Bebas Neue',
cursive;
$myColor:#2FA6A5;
$myColorWhite:#ffffff;
$myFontSize: 14px;
$myWidth: 1640px;
::selection {
    color: #ffffff;
    background: #4CB1B7;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 1919px) {
        zoom: 0.95;
    }
    @media screen and (max-width: 1439px) {
        zoom: 0.8;
    }
    @media screen and (max-width: 1279px) {
        zoom: 1;
    }
}

::placeholder {
    color: #939393 !important;
    opacity: 1;
}

.container {
    max-width: 1280px;
    @media screen and (max-width: 1365px) {
        max-width: 90%;
    }
    @media screen and (max-width: 1279px) {
        max-width: 95%;
    }
    @media screen and (max-width: 1023px) {
        max-width: 100%;
    }
}

.container-fluid {
    max-width: $myWidth;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.17);
    opacity: 1;
    /* (plus shape's fill blended on top as a separate layer with 27% opacity) */
}

.modal-backdrop.show {
    background: #001b1c;
    opacity: 0.6;
}

@-webkit-keyframes test {
    50% {
        background-position: center;
    }
}

@keyframes test {
    50% {
        background-position: center;
    }
}

button:focus,
a:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.input-group>.custom-file .custom-file-input:focus~.custom-file-label,
.input-group>.custom-select:focus,
.input-group>.form-control:focus {
    z-index: 3;
    box-shadow: 0 0 2px 0.2px rgba(0, 123, 255, .25);
}

a:hover {
    text-decoration: none;
}

.body_index {
    // overflow-x: hidden;
    max-width: 100%;
    color: $myColorWhite;
    font-family: $myFontRoboto;
    background: url(../images/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: test 6s infinite;
    animation: test 10s infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    @media screen and (max-width: 1919px) {
        background-position-x: -14vh;
    }
    @media screen and (max-width: 1439px) {
        // background-position-x: -16vh;
        background-position-x: 0;
    }
    @media screen and (max-width: 1365px) {
        background-position-x: -18vh;
        animation: test 10s infinite;
    }
    @media screen and (max-width: 1279px) {
        background-position-x: right;
        animation: test 60s infinite;
    }
    @media screen and (max-width: 1023px) {
        background: url(../images/bg_tablet.jpg) no-repeat;
        background-position-x: 0;
        background-size: cover;
    }
    @media screen and (max-width: 991px) {}
    header.header {
        position: fixed;
        z-index: 1;
        height: 100px;
        width: 100%;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        @media screen and (max-width: 1439px) {
            height: 90px;
        }
        @media screen and (max-width: 991px) {
            height: 100px;
        }
        @media screen and (max-width:767px) {
            height: 90px;
        }
        @media screen and (max-width:575px) {
            height: 74px;
        }
        @media screen and (max-width:413px) {
            height: 64px;
        }
        .logo {
            margin-left: 8.75rem;
            margin-top: 14px;
            margin-bottom: 14px;
            @media screen and (max-width: 1919px) {
                margin-left: 4.75rem;
            }
            @media screen and (max-width: 1439px) {
                margin-left: 3.75rem;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 991px) {
                max-width: 85%;
            }
            @media screen and (max-width: 767px) {
                max-width: 80%;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 30px;
            }
            @media screen and (max-width: 575px) {
                max-width: 70%;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 20px;
            }
            @media screen and (max-width: 413px) {
                max-width: 52%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .home_custom_btn {
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            width: 260px;
            height: 100px;
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            background: #244980;
            border-radius: 0;
            &:hover {
                background: #31BFA7;
            }
            @media screen and (max-width: 1439px) {
                height: 90px;
            }
            @media screen and (max-width: 991px) {
                width: 200px;
                height: 100px;
            }
            @media screen and (max-width:767px) {
                width: 180px;
                height: 90px;
            }
            @media screen and (max-width:575px) {
                width: 140px;
                height: 74px;
                font-size: 16px;
            }
            @media screen and (max-width: 413px) {
                width: 120px;
                height: 64px;
            }
        }
        @media screen and (max-width: 991px) {
            div#navbarsExample03 {
                display: flex;
                flex: none;
            }
        }
    }
    .sec_one {
        // padding: 10% 0%; 
        position: relative;
        top: 50%;
        transform: translate(0, 50%);
        @media screen and (max-width: 1279px) {
            transform: translate(0, 90%);
        }
        @media screen and (max-width: 1023px) {
            transform: translate(0, 60%);
        }
        @media screen and (max-width: 991px) {
            transform: translate(0, 70%);
        }
        @media screen and (max-width: 413px) {
            transform: translate(0, 50%);
        }
        .typography {
            width: fit-content;
            padding: 54px;
            background: #31bfa7;
            position: relative;
            box-shadow: 0px 0px 64px#062d2757;
            @media screen and (max-width: 1919px) {
                zoom: 0.9;
            }
            @media screen and (max-width: 1439px) {
                zoom: 0.80;
            }
            @media screen and (max-width: 1365px) {
                margin-left: 10%;
            }
            @media screen and (max-width: 1279px) {
                zoom: 1;
            }
            @media screen and (max-width: 991px) {
                zoom: 0.9;
                margin-left: 4%;
            }
            @media screen and (max-width: 767px) {
                margin-left: 20px;
            }
            @media screen and (max-width: 575px) {
                zoom: 0.7;
            }
            @media screen and (max-width: 413px) {
                zoom: 0.6;
            }
            p {
                font-family: $myFontRoboto;
                font-weight: normal;
                font-size: 24px;
                line-height: 60px;
                margin-top: 10px;
                text-align: left;
                color: $myColorWhite;
            }
            h1 {
                font-family: $myFontBebas;
                font-weight: normal;
                font-size: 90px;
                letter-spacing: -0.02em;
                line-height: 80px;
                text-align: left;
                color: $myColorWhite;
                margin: 0;
            }
            h4 {
                font-family: $myFontBebas;
                font-weight: normal;
                font-size: 55px;
                letter-spacing: 0em;
                line-height: 80px;
                text-align: left;
                color: $myColorWhite;
                margin: 0;
            }
            h2 {
                font-family: $myFontBebas;
                font-weight: normal;
                font-size: 100px;
                letter-spacing: -0.01em;
                line-height: 80px;
                text-align: left;
                color: $myColorWhite;
                margin: 0;
            }
            .typography_logo {
                position: absolute;
                width: 100%;
                background: #fff;
                left: 0;
                padding: 23px 54px;
                margin-top: 54px;
                box-shadow: 0px 0px 64px#062d2757;
            }
        }
    }
    .inner {
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 800px;
        height: 50px;
        border-radius: 20px 20px 0px 0px;
        background: #244980;
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
        padding: 13px 116px;
        @media screen and (max-width: 1023px) {
            width: 600px;
            padding: 14px;
        }
        @media screen and (max-width: 991px) {
            width: 610px;
            padding: 14px;
        }
        @media screen and (max-width:767px) {
            width: 100%;
            height: auto;
            padding: 16px;
            position: fixed;
        }
        .join_now {
            font-size: 16px;
            text-align: center;
            color: #fff;
            @media screen and (max-width: 767px) {
                font-size: 13px;
            }
            b span {
                font-weight: bold;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    .modal-dialog {
        max-width: 800px;
        height: auto;
        margin: 1.75rem auto;
        @media screen and (max-width: 1365px) {
            zoom: 0.9;
            margin: 15px auto;
        }
        @media screen and (max-width: 1279px) {
            zoom: 1;
        }
        @media screen and (max-width: 991px) {
            max-width: 680px;
        }
        @media screen and (max-width: 767px) {
            max-width: 570px;
        }
        @media screen and (max-width: 575px) {
            max-width: 97%;
        }
    }
    .modal-content {
        border: none;
        z-index: 0;
        height: auto;
        border-radius: 0;
        .modal-header {
            border-bottom: none;
            padding: 15px 40px;
            background: #244980;
            border-radius: 0;
            margin-bottom: 60px;
            @media screen and (max-width: 1439px) {
                padding: 10px 40px;
                margin-bottom: 50px;
            }
            @media screen and (max-width:767px) {
                padding: 20px 40px;
            }
            @media screen and (max-width: 575px) {
                margin-bottom: 30px
            }
            @media screen and (max-width: 413px) {
                padding: 15px 20px;
            }
            .modal-title {
                font-weight: bold;
                font-size: 18px;
                letter-spacing: -0.01em;
                line-height: 50px;
                text-align: left;
                color: #fff;
                @media screen and (max-width: 1439px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 575px) {
                    line-height: inherit;
                }
                @media screen and (max-width: 413px) {
                    line-height: inherit;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
        .modal-body {
            padding: 0px 60px;
            @media screen and (max-width: 1439px) {
                padding: 0px 50px;
            }
            @media screen and (max-width: 991px) {}
            @media screen and (max-width: 767px) {
                padding: 0px 30px;
            }
            @media screen and (max-width: 575px) {
                padding: 0px 20px
            }
            @media screen and (max-width: 413px) {
                padding: 0px 10px
            }
            .input-group {
                margin-bottom: 20px;
                @media screen and (min-width: 575px) {
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
                @media screen and (max-width: 413px) {
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 575px) {
                    input.input_box_1.form-control {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
                @media screen and (max-width: 413px) {
                    input.input_box_1.form-control {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
                .form-control {
                    background: #f8f8f8;
                    border: 1px solid #bfbfbf;
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    color: #292929;
                    padding: 0 18px;
                    height: 56px;
                    border-radius: 5px;
                    text-align: left;
                    @media screen and (max-width: 575px) {
                        height: 52px;
                    }
                }
                .input_box_1 {
                    border-radius: 0 !important;
                    background: #f5f5f5;
                    border: 1px solid #d1d1d1;
                    margin: 0px 10px;
                }
                .input_box_2 {
                    border-radius: 0!important;
                    background: #f5f5f5;
                    border: 1px solid #d1d1d1;
                    margin: 0 10px;
                }
            }
            .upload_document_file {
                margin: 0px 10px;
                position: relative;
                margin-top: 40px;
                margin-bottom: 20px;
                @media screen and (max-width: 413px) {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    svg {
                        zoom: 0.85;
                    }
                }
                cursor: pointer;
                .upload_document_2 {
                    margin-left: 10vh;
                    cursor: pointer;
                    @media screen and (max-width: 1919px) {
                        margin-left: 12vh;
                    }
                    @media screen and (max-width: 1439px) {
                        margin-left: 16vh;
                    }
                    @media screen and (max-width: 991px) {
                        margin-left: 1vh;
                    }
                    @media screen and (max-width: 767px) {
                        margin-left: 2vh;
                    }
                    @media screen and (max-width: 575px) {
                        margin-left: 1vh;
                        margin-top: 0;
                    }
                    @media screen and (max-width: 539px) {
                        margin-left: 0vh;
                        margin-top: 20px;
                    }
                    @media screen and (max-width: 413px) {
                        margin-left: 0vh;
                        margin-top: 20px;
                    }
                    @media screen and (max-width: 374px) {
                        margin-top: 10px;
                    }
                }
                .upload_document_3 {
                    float: left;
                    cursor: pointer;
                }
                .upload_document {
                    margin-left: 15px;
                    font-size: 14px;
                    color: #000;
                    cursor: pointer;
                    @media screen and (max-width: 413px) {
                        font-size: 13px;
                    }
                }
                .custom-file-input {
                    cursor: pointer;
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: calc(1.5em + .75rem + 2px);
                    margin: 0;
                    opacity: 0;
                    right: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                }
            }
            .upload_note {
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                text-align: left;
                color: #4b4b4b;
                opacity: 0.8;
                margin: 10px;
                max-width: 80%;
                position: relative;
                left: 10%;
                @media screen and (max-width: 1919px) {
                    max-width: 84%;
                }
                @media screen and (max-width: 991px) {
                    max-width: 100%;
                    left: 4%;
                }
                @media screen and (max-width: 767px) {
                    float: right;
                    left: -10%;
                    top: 20px;
                }
                @media screen and (max-width: 575px) {
                    left: 0%;
                }
            }
            .custom-file-input {
                width: 40% !important;
            }
            .modal_custom_btn {
                font-weight: 500;
                font-size: 16px;
                text-align: left;
                color: #fff;
                padding: 15px 104px;
                background: #244980;
                border-radius: 0;
                float: right;
                margin: 40px 10px;
                &:hover {
                    background: #31BFA7;
                }
                @media screen and (max-width: 1439px) {
                    margin: 30px 10px;
                }
                @media screen and (max-width: 767px) {
                    margin: 40px 10px;
                    width: 100%;
                    text-align: center;
                }
                @media screen and (max-width: 575px) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    .modal_btn_close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 27px 31px;
        background: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 0;
        @media screen and (max-width: 1919px) {
            position: fixed;
        }
        @media screen and (max-width: 575px) {
            padding: 17px 21px;
        }
        @media screen and (max-width: 413px) {
            padding: 10px 14px;
        }
    }
}

.body_activities {
    max-width: 100%;
    color: $myColorWhite;
    font-family: $myFontRoboto;
    background: url(../images/bg_2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    -webkit-animation: test 6s infinite;
    // animation: test 6s infinite;
    animation: none;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    @media screen and (max-width: 1919px) {
        // background-position-x: -24vh;     
        height: auto;
    }
    @media screen and (max-width: 1439px) {
        // background-position-x: -16vh; 
        height: auto;
    }
    @media screen and (max-width: 1365px) {
        // background-position-x: -18vh;
        // animation: test 10s infinite;   
        height: auto;
        background-repeat: repeat;
    }
    @media screen and (max-width: 1279px) {
        // background-position-x: right;
        // animation: test 60s infinite;
    }
    @media screen and (max-width: 1023px) {
        // background-position-x: 0;
        background-size: cover;
    }
    @media screen and (max-width: 991px) {
        margin: 0 60px;
        // height: auto;
    }
    @media screen and (max-width: 767px) {
        margin: 0;
        height: auto !important;
    }
    @media screen and (max-width: 413px) {
        zoom: 0.8;
    }
    .header_activities {
        padding: 47px 0 100px 0;
        @media screen and (max-width: 1919px) {
            padding: 27px 0 60px 0;
        }
        @media screen and (max-width: 1439px) {
            padding: 17px 0 60px 0;
        }
        @media screen and (max-width: 1279px) {
            padding: 17px 0 20vh 0;
        }
        @media screen and (max-width: 991px) {
            padding: 17px 0 80px 0;
        }
        @media screen and (max-width: 767px) {
            padding: 17px 0 60px 0;
        }
        .logo {
            margin-right: 30px;
            @media screen and (max-width: 1919px) {
                height: 120px;
            }
            @media screen and (max-width: 1439px) {
                height: 120px;
                margin-right: 50px;
            }
            @media screen and (max-width: 1365px) {
                height: 97px;
                margin-right: 50px;
            }
            @media screen and (max-width: 991px) {
                margin-right: 70px;
            }
            @media screen and (max-width: 575px) {
                margin-right: 30px;
                height: 90px;
            }
            @media screen and (max-width: 413px) {
                margin-right: 20px;
                height: 90px;
            }
            @media screen and (max-width: 374px) {
                margin-right: 20px;
                height: 90px;
            }
        }
        .back_arrow {
            font-weight: 500;
            font-size: 20px;
            line-height: 50px;
            color: #00dede;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                font-size: 0;
            }
            &::before {
                content: url("../images/back_arrow_light.svg");
                top: 0px;
                position: relative;
                margin-right: 10px;
                @media screen and (max-width: 767px) {}
            }
        }
    }
    .main_activities {
        .box_1 {
            background: #f3e8f2;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
            margin: 0 5px;
            @media screen and (max-width: 1436px) {
                margin: 0;
            }
            @media screen and (max-width: 767px) {
                flex-wrap: wrap;
                padding: 30px;
            }
            @media screen and (max-width: 575px) {
                padding: 0px;
            }
            h1 {
                font-family: $myFontBebas;
                font-weight: normal;
                font-size: 40px;
                letter-spacing: 0.01em;
                line-height: 42px;
                text-align: left;
                color: #b459ac;
                margin-right: 20px;
                @media screen and (max-width: 1439px) {
                    font-size: 36px;
                    margin-right: 70px;
                    margin-bottom: 0;
                }
                @media screen and (max-width: 991px) {
                    font-size: 36px;
                    margin-right: 100px;
                    margin-bottom: 0;
                }
                @media screen and (max-width: 767px) {
                    margin-right: 0px;
                }
                @media screen and (max-width: 575px) {
                    font-size: 28px;
                }
            }
            .box_custom_btn {
                padding: 10px 40px;
                background: #b459ac;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                border-radius: 0;
                margin-top: 20px;
                &:hover {
                    opacity: 0.9;
                }
            }
            .icon_bg {
                background: #b459ac;
                padding: 0 48px;
                margin: 12px 40px 12px 20px;
                height: 245px;
                align-items: center;
                display: flex;
                @media screen and (max-width: 1919px) {
                    height: 225px;
                }
                @media screen and (max-width: 1439px) {
                    margin: 12px 30px 12px 20px;
                    // padding: 82px 48px;
                    padding: 0 48px;
                }
                @media screen and (max-width: 1365px) {
                    height: 195px;
                }
                @media screen and (max-width: 991px) {
                    height: 205px;
                }
                @media screen and (max-width: 767px) {
                    padding: 26px 0;
                    margin: 0 auto;
                    text-align-last: center;
                    width: 100%;
                    height: 125px;
                    display: table;
                }
                @media screen and (max-width: 575px) {
                    padding: 15px 0;
                    height: 105px;
                    zoom: 0.75;
                }
            }
            .content {
                @media screen and (max-width: 767px) {
                    margin-top: 30px;
                }
                @media screen and (max-width: 575px) {
                    padding: 20px;
                    margin-top: 0px;
                }
            }
        }
        .box_2 {
            background: #e1f3f3;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
            @media screen and (max-width: 991px) {
                margin-top: 30px;
            }
            h1 {
                color: #477cc0;
            }
            .box_custom_btn,
            .icon_bg {
                background: #244980;
            }
        }
        .box_3 {
            margin-top: 40px;
            background: #e1f3f3;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
            @media screen and (max-width: 1439px) {
                margin-top: 30px;
                margin-bottom: 40px;
            }
            @media screen and (max-width:991px) {
                margin-top: 30px;
                margin-bottom: 60px;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 100px;
            }
            h1 {
                color: #31BFA7;
            }
            .box_custom_btn,
            .icon_bg {
                background: #31BFA7;
            }
        }
    }
}

.benefits_cns_program {
    .header_activities {
        padding: 47px 0 80px 0;
        @media screen and (max-width: 1919px) {
            padding: 27px 0 40px 0;
        }
        @media screen and (max-width: 1439px) {
            padding: 17px 0 40px 0;
        }
        @media screen and (max-width: 1279px) {
            padding: 17px 0 20vh 0;
        }
        @media screen and (max-width: 991px) {
            padding: 17px 0 80px 0;
        }
        @media screen and (max-width: 767px) {
            padding: 17px 0 60px 0;
        }
        .back_arrow {
            color: #244980;
            &::before {
                content: url("../images/back_arrow_dark.svg");
            }
        }
    }
    .main_activities {
        padding-bottom: 0px;
        @media screen and (max-width: 991px) {
            margin-bottom: 60px;
        }
    }
    .benefits_cns_program_title {
        h2 {
            font-weight: bold;
            font-size: 44px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #244980;
            @media screen and (max-width: 1439px) {
                font-size: 38px;
                margin: 0;
            }
            @media screen and (max-width: 1365px) {
                font-size: 32px;
            }
            @media screen and (max-width: 575px) {
                font-size: 24px;
            }
            @media screen and (max-width: 374px) {
                font-size: 22px;
            }
        }
        p {
            font-weight: normal;
            font-size: 20px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #5b5b5b;
            margin-bottom: 90px;
            @media screen and (max-width: 1919px) {
                margin-bottom: 60px;
            }
            @media screen and (max-width: 1439px) {
                margin-bottom: 50px;
            }
            @media screen and (max-width: 575px) {
                font-size: 16px;
                margin-bottom: 30px;
                margin-top: 6px;
            }
        }
    }
    iframe {
        @media screen and (max-width: 1439px) {
            width: 47vw;
        }
        @media screen and (max-width: 991px) {
            width: 80vw;
            margin: 40px 0;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        @media screen and (max-width: 575px) {}
        @media screen and (max-width:413px) {}
    }
    .inner {
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 800px;
        height: 50px;
        border-radius: 20px 20px 0px 0px;
        padding: 13px 20px;
        background: #244980;
        box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.06);
        @media screen and (max-width: 1365px) {
            position: absolute;
        }
        @media screen and (max-width: 1023px) {
            width: 600px;
            padding: 14px;
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            padding: 14px;
            position: fixed;
            height: auto;
        }
        @media screen and (max-width:767px) {
            width: 100%;
            height: auto;
            padding: 16px;
            position: fixed;
        }
        .join_now {
            font-size: 16px;
            text-align: center;
            color: #fff;
            @media screen and (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
    .modal-content {
        .modal-header {
            margin-bottom: 0px;
            @media screen and (max-width: 1439px) {
                margin-bottom: 0px;
            }
            @media screen and (max-width:767px) {
                margin-bottom: 0px;
            }
            @media screen and (max-width: 575px) {
                margin-bottom: 0px;
            }
            @media screen and (max-width: 413px) {
                margin-bottom: 0px;
            }
        }
        .modal-body {
            margin: 60px 0;
            @media screen and (max-width: 1439px) {}
            @media screen and (max-width: 991px) {}
            @media screen and (max-width: 767px) {}
            @media screen and (max-width: 575px) {}
            @media screen and (max-width: 413px) {}
            iframe {
                @media screen and (max-width: 1365px) {
                    width: 90% !important;
                }
                @media screen and (max-width: 1279px) {
                    width: 100% !important;
                }
                @media screen and (max-width: 991px) {
                    margin-bottom: 100px;
                }
                @media screen and (max-width: 575px) {
                    margin-top: 40px;
                    margin-bottom: 100px;
                }
            }
        }
        .language-picker.js-language-picker {
            @media screen and (max-width: 991px) {
                margin-top: 10px;
            }
        }
    }
}

.about_glaucoma {
    .about_glaucoma_title {
        h2 {
            font-weight: bold;
            font-size: 44px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;
            @media screen and (max-width: 1439px) {
                font-size: 38px;
                margin: 0;
            }
            @media screen and (max-width: 575px) {
                font-size: 24px;
            }
            @media screen and (max-width: 374px) {
                font-size: 22px;
            }
        }
        p {
            font-weight: normal;
            font-size: 20px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #00FFFF;
            margin-bottom: 90px;
            @media screen and (max-width: 1919px) {
                margin-bottom: 80px;
            }
            @media screen and (max-width: 1439px) {
                margin-bottom: 50px;
            }
            @media screen and (max-width: 575px) {
                font-size: 16px;
                margin-bottom: 30px;
                margin-top: 6px;
            }
        }
    }
    .about_glaucoma_box_1,
    .about_glaucoma_box_2 {
        padding: 40px 0;
        height: 340px;
        background: #fff !important;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04) !important;
        margin: 0 5px;
        @media screen and (max-width: 1436px) {
            margin: 0;
            padding: 30px 0;
            height: 320px;
        }
        @media screen and (max-width: 1279px) {
            padding: 60px 0;
            height: 340px;
        }
        @media screen and (max-width: 991px) {
            margin-bottom: 30px;
        }
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            padding: 50px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 575px) {
            padding: 60px 0px;
        }
        h6 {
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #000;
            padding: 4vh 8vh;
            @media screen and (max-width: 1439px) {
                padding: 3vh 10vh;
            }
            @media screen and (max-width: 1279px) {
                padding: 1vh 2vh;
            }
            @media screen and (max-width: 991px) {
                padding: 2vh 5vh;
            }
            @media screen and (max-width: 767px) {}
            @media screen and (max-width: 575px) {}
        }
        .box_custom_btn {
            padding: 10px 51px;
            background: #b459ac;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
            border-radius: 0;
            margin-top: 0;
            &:hover {
                opacity: 0.9;
            }
        }
        .language-picker.js-language-picker {
            position: absolute;
            right: 30px;
            top: 14px;
            @media screen and (max-width: 991px) {
                right: 30px;
                top: 30px;
            }
            select#language-picker-select {
                color: #656565 !important;
                option {
                    color: #656565;
                }
            }
        }
        // .content {
        //     @media screen and (max-width: 767px) {
        //         margin-top: 30px;
        //     }
        //     @media screen and (max-width: 575px) {
        //         padding: 20px;
        //         margin-top: 0px;
        //     }
        // }
    }
    .modal-content {
        .modal-header {
            margin-bottom: 0px;
            @media screen and (max-width: 1439px) {
                margin-bottom: 0px;
            }
            @media screen and (max-width:767px) {
                margin-bottom: 0px;
            }
            @media screen and (max-width: 575px) {
                margin-bottom: 0px;
            }
            @media screen and (max-width: 413px) {
                margin-bottom: 0px;
            }
        }
        .modal-body {
            margin: 60px 0;
            @media screen and (max-width: 1439px) {}
            @media screen and (max-width: 991px) {}
            @media screen and (max-width: 767px) {}
            @media screen and (max-width: 575px) {}
            @media screen and (max-width: 413px) {}
            iframe {
                @media screen and (max-width: 1365px) {
                    width: 90% !important;
                }
                @media screen and (max-width: 1279px) {
                    width: 100% !important;
                }
                @media screen and (max-width: 991px) {
                    margin-bottom: 100px;
                }
                @media screen and (max-width: 575px) {
                    margin-top: 40px;
                    margin-bottom: 100px;
                }
            }
        }
        .language-picker.js-language-picker {
            @media screen and (max-width: 991px) {
                margin-top: 10px;
            }
        }
    }
}

.language-picker.js-language-picker {
    margin-top: 12px;
    @media screen and (max-width: 991px) {
        margin-top: -10px;
    }
    select#language-picker-select {
        background: none;
        outline: none;
        border: none;
        color: #fff;
        option {
            color: black;
        }
    }
    svg {
        @media screen and (max-width: 991px) {}
    }
}