@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
::-moz-selection {
  color: #ffffff;
  background: #4CB1B7;
}
::selection {
  color: #ffffff;
  background: #4CB1B7;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1919px) {
  html {
    zoom: 0.95;
  }
}

@media screen and (max-width: 1439px) {
  html {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1279px) {
  html {
    zoom: 1;
  }
}

::-webkit-input-placeholder {
  color: #939393 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #939393 !important;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #939393 !important;
  opacity: 1;
}

::placeholder {
  color: #939393 !important;
  opacity: 1;
}

.container {
  max-width: 1280px;
}

@media screen and (max-width: 1365px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 100%;
  }
}

.container-fluid {
  max-width: 1640px;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background: transparent;
  /* Note: currently only Safari supports backdrop-filter */
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.17);
  opacity: 1;
  /* (plus shape's fill blended on top as a separate layer with 27% opacity) */
}

.modal-backdrop.show {
  background: #001b1c;
  opacity: 0.6;
}

@-webkit-keyframes test {
  50% {
    background-position: center;
  }
}

@keyframes test {
  50% {
    background-position: center;
  }
}

button:focus,
a:focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label,
.input-group > .custom-select:focus,
.input-group > .form-control:focus {
  z-index: 3;
  -webkit-box-shadow: 0 0 2px 0.2px rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 2px 0.2px rgba(0, 123, 255, 0.25);
}

a:hover {
  text-decoration: none;
}

.body_index {
  max-width: 100%;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background: url(../images/bg.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: test 6s infinite;
  animation: test 10s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 1919px) {
  .body_index {
    background-position-x: -14vh;
  }
}

@media screen and (max-width: 1439px) {
  .body_index {
    background-position-x: 0;
  }
}

@media screen and (max-width: 1365px) {
  .body_index {
    background-position-x: -18vh;
    -webkit-animation: test 10s infinite;
            animation: test 10s infinite;
  }
}

@media screen and (max-width: 1279px) {
  .body_index {
    background-position-x: right;
    -webkit-animation: test 60s infinite;
            animation: test 60s infinite;
  }
}

@media screen and (max-width: 1023px) {
  .body_index {
    background: url(../images/bg_tablet.jpg) no-repeat;
    background-position-x: 0;
    background-size: cover;
  }
}

.body_index header.header {
  position: fixed;
  z-index: 1;
  height: 130px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1439px) {
  .body_index header.header {
    height: 120px;   
  }
}

@media screen and (max-width: 991px) {
  .body_index header.header {
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .body_index header.header {
    height: 90px;   
  }
}

@media screen and (max-width: 575px) {
  .body_index header.header {
    height: 74px;
  }
}

@media screen and (max-width: 413px) {
  .body_index header.header {
    height: 64px;
  }
}

.body_index header.header .logo {
  margin-left: 8.75rem;
  margin-top: 14px;
  margin-bottom: 14px;
}

@media screen and (max-width: 1919px) {
  .body_index header.header .logo {
    margin-left: 4.75rem;
  }
}

@media screen and (max-width: 1439px) {
  .body_index header.header .logo {
    margin-left: 3.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  .body_index header.header .logo {
    max-width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .body_index header.header .logo {
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 575px) {
  .body_index header.header .logo {
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 413px) {
  .body_index header.header .logo {
    max-width: 52%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.body_index header.header .home_custom_btn {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  height: 130px;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  background: #ec509a;
  border-radius: 0;
}

.body_index header.header .home_custom_btn:hover {
  background: #477cc0;
}

@media screen and (max-width: 1439px) {
  .body_index header.header .home_custom_btn {
    height: 120px; 
  }
}

@media screen and (max-width: 991px) {
  .body_index header.header .home_custom_btn {
    width: 200px;
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .body_index header.header .home_custom_btn {
    width: 180px;
    height: 90px; 
  }
}

@media screen and (max-width: 575px) {
  .body_index header.header .home_custom_btn {
    width: 140px;
    height: 74px;
    font-size: 16px;
  }
}

@media screen and (max-width: 413px) {
  .body_index header.header .home_custom_btn {
    width: 120px;
    height: 64px;
  }
}

@media screen and (max-width: 991px) {
  .body_index header.header div#navbarsExample03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.body_index .sec_one {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

@media screen and (max-width: 1279px) {
  .body_index .sec_one {
    -webkit-transform: translate(0, 90%);
            transform: translate(0, 90%);
  }
}

@media screen and (max-width: 1023px) {
  .body_index .sec_one {
    -webkit-transform: translate(0, 60%);
            transform: translate(0, 60%);
  }
}

@media screen and (max-width: 991px) {
  .body_index .sec_one {
    -webkit-transform: translate(0, 70%);
            transform: translate(0, 70%);
  }
}

@media screen and (max-width: 413px) {
  .body_index .sec_one {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
}

.body_index .sec_one .typography {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 54px;
  background: #244980;
  position: relative;
  -webkit-box-shadow: 0px 0px 64px #062d2757;
          box-shadow: 0px 0px 64px #062d2757;
}

@media screen and (max-width: 1919px) {
  .body_index .sec_one .typography {
    zoom: 0.9;
  }
}

@media screen and (max-width: 1439px) {
  .body_index .sec_one .typography {
    zoom: 0.80;
  }
}

@media screen and (max-width: 1365px) {
  .body_index .sec_one .typography {
    margin-left: 10%;
  }
}

@media screen and (max-width: 1279px) {
  .body_index .sec_one .typography {
    zoom: 1;
  }
}

@media screen and (max-width: 991px) {
  .body_index .sec_one .typography {
    zoom: 0.9;
    margin-left: 4%;
  }
}

@media screen and (max-width: 767px) {
  .body_index .sec_one .typography {
    margin-left: 20px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .sec_one .typography {
    zoom: 0.7;
  }
}

@media screen and (max-width: 413px) {
  .body_index .sec_one .typography {
    zoom: 0.6;
  }
}

.body_index .sec_one .typography p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 60px;
  margin-top: 10px;
  text-align: left;
  color: #ffffff;
}

.body_index .sec_one .typography h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 90px;
  letter-spacing: -0.02em;
  line-height: 80px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.body_index .sec_one .typography h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 55px;
  letter-spacing: 0em;
  line-height: 80px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.body_index .sec_one .typography h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 100px;
  letter-spacing: -0.01em;
  line-height: 80px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.body_index .sec_one .typography .typography_logo {
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  padding: 23px 54px;
  margin-top: 54px;
  -webkit-box-shadow: 0px 0px 64px #062d2757;
          box-shadow: 0px 0px 64px #062d2757;
}

.body_index .inner {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 800px;
  height: 50px;
  border-radius: 20px 20px 0px 0px;
  background: #477cc0;
  -webkit-box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
  padding: 13px 116px;
}

@media screen and (max-width: 1023px) {
  .body_index .inner {
    width: 600px;
    padding: 14px;
  }
}

@media screen and (max-width: 991px) {
  .body_index .inner {
    width: 610px;
    padding: 14px;
  }
}

@media screen and (max-width: 767px) {
  .body_index .inner {
    width: 100%;
    height: auto;
    padding: 16px;
    position: fixed;
  }
}

.body_index .inner .join_now {
  font-size: 16px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .body_index .inner .join_now {
    font-size: 13px;
  }
}

.body_index .inner .join_now b span {
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.body_index .modal-dialog {
  max-width: 800px;
  height: auto;
  margin: 1.75rem auto;
}

@media screen and (max-width: 1365px) {
  .body_index .modal-dialog {
    zoom: 0.9;
    margin: 15px auto;
  }
}

@media screen and (max-width: 1279px) {
  .body_index .modal-dialog {
    zoom: 1;
  }
}

@media screen and (max-width: 991px) {
  .body_index .modal-dialog {
    max-width: 680px;
  }
}

@media screen and (max-width: 767px) {
  .body_index .modal-dialog {
    max-width: 570px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-dialog {
    max-width: 97%;
  }
}

.body_index .modal-content {
  border: none;
  z-index: 0;
  height: auto;
  border-radius: 0;
}

.body_index .modal-content .modal-header {
  border-bottom: none;
  padding: 15px 40px;
  background: #477cc0;
  border-radius: 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 1439px) {
  .body_index .modal-content .modal-header {
    padding: 10px 40px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .body_index .modal-content .modal-header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-header {
    padding: 15px 20px;
  }
}

.body_index .modal-content .modal-header .modal-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 50px;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .body_index .modal-content .modal-header .modal-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-header .modal-title {
    line-height: inherit;
  }
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-header .modal-title {
    line-height: inherit;
    font-size: 16px;
    text-align: left;
  }
}

.body_index .modal-content .modal-body {
  padding: 0px 60px;
}

@media screen and (max-width: 1439px) {
  .body_index .modal-content .modal-body {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 767px) {
  .body_index .modal-content .modal-body {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-body {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-body {
    padding: 0px 10px;
  }
}

.body_index .modal-content .modal-body .input-group {
  margin-bottom: 20px;
}

@media screen and (min-width: 575px) {
  .body_index .modal-content .modal-body .input-group {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-body .input-group {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-body .input-group input.input_box_1.form-control {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .body_index .modal-content .modal-body .input-group input.input_box_2.form-control {
    margin-left: 0px;
	}
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-body .input-group input.input_box_1.form-control {
    width: 100%;
    margin-bottom: 10px;
  }
}

.body_index .modal-content .modal-body .input-group .form-control {
  background: #f8f8f8;
  border: 1px solid #bfbfbf;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #292929;
  padding: 0 18px;
  height: 56px;
  border-radius: 5px;
  text-align: left;
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-body .input-group .form-control {
    height: 52px;
  }
  .body_index .modal-content .modal-body .input-group .input_box_1,
  .body_index .modal-content .modal-body .input-group .input_box_2  {
  margin: 0px !important;
}
}

.body_index .modal-content .modal-body .input-group .input_box_1 {
  border-radius: 0 !important;
  background: #f5f5f5;
  border: 1px solid #d1d1d1;
  margin: 0px 10px;
}


.body_index .modal-content .modal-body .input-group .input_box_2 {
  border-radius: 0 !important;
  background: #f5f5f5;
  border: 1px solid #d1d1d1;
  margin: 0 10px;
}

.body_index .modal-content .modal-body .upload_document_file {
  margin: 0px 10px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-body .upload_document_file {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .body_index .modal-content .modal-body .upload_document_file svg {
    zoom: 0.85;
  }
}

.body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
  margin-left: 10vh;
  cursor: pointer;
}

@media screen and (max-width: 1919px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 12vh;
  }
}

@media screen and (max-width: 1439px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 16vh;
  }
}

@media screen and (max-width: 991px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 1vh;
  }
}

@media screen and (max-width: 767px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 2vh;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 1vh;
    margin-top: 0;
  }
}

@media screen and (max-width: 539px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 0vh;
    margin-top: 20px;
  }
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-left: 0vh;
    margin-top: 20px;
  }
}

@media screen and (max-width: 374px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document_2 {
    margin-top: 10px;
  }
}

.body_index .modal-content .modal-body .upload_document_file .upload_document_3 {
  float: left;
  cursor: pointer;
}

.body_index .modal-content .modal-body .upload_document_file .upload_document {
  margin-left: 15px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 413px) {
  .body_index .modal-content .modal-body .upload_document_file .upload_document {
    font-size: 13px;
  }
}

/*.body_index .modal-content .modal-body .upload_document_file .custom-file-input {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
  opacity: 0;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  
}*/
.body_index .modal-content .modal-body .upload_document_file .custom-file-input {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
        margin-left: 0px;
    opacity: 0;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 81px !important;
    height: 56px;
    margin-left: 20px;
}
.body_index .modal-content .modal-body .upload_note {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: #4b4b4b;
  opacity: 0.8;
  margin: 10px;
  max-width: 80%;
  position: relative;
  left: 10%;
}

@media screen and (max-width: 1919px) {
  .body_index .modal-content .modal-body .upload_note {
    max-width: 84%;
  }
}

@media screen and (max-width: 991px) {
  .body_index .modal-content .modal-body .upload_note {
    max-width: 100%;
    left: 4%;
  }
}

@media screen and (max-width: 767px) {
  .body_index .modal-content .modal-body .upload_note {
    float: right;
    left: -10%;
    top: 20px;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-body .upload_note {
    left: 0%;
  }
}

.body_index .modal-content .modal-body .custom-file-input {
  width: 40% !important;
}

.body_index .modal-content .modal-body .modal_custom_btn {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #fff;
  padding: 15px 104px;
  background: #477cc0;
  border-radius: 0;
  float: right;
  margin: 40px 10px;
}

.body_index .modal-content .modal-body .modal_custom_btn:hover {
  background: #244980;
}

@media screen and (max-width: 1439px) {
  .body_index .modal-content .modal-body .modal_custom_btn {
    margin: 30px 10px;
  }
}

@media screen and (max-width: 767px) {
  .body_index .modal-content .modal-body .modal_custom_btn {
    margin: 40px 10px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal-content .modal-body .modal_custom_btn {
    width: 100%;
    text-align: center;
  }
}

.body_index .modal_btn_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 27px 31px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0;
}

@media screen and (max-width: 1919px) {
  .body_index .modal_btn_close {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  .body_index .modal_btn_close {
    padding: 17px 21px;
  }
}

@media screen and (max-width: 413px) {
  .body_index .modal_btn_close {
    padding: 10px 14px;
  }
}

.body_activities {
  max-width: 100%;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background: url(../images/bg_2.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  -webkit-animation: test 6s infinite;
  animation: none;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 1919px) {
  .body_activities {
    height: auto;
  }
}

@media screen and (max-width: 1439px) {
  .body_activities {
    height: auto;
  }
}

@media screen and (max-width: 1365px) {
  .body_activities {
    height: auto;
    background-repeat: repeat;
  }
}

@media screen and (max-width: 1023px) {
  .body_activities {
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .body_activities {
    margin: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .body_activities {
    margin: 0;
    height: auto !important;
  }
}

@media screen and (max-width: 413px) {
  .body_activities {
    zoom: 0.8;
  }
}

.body_activities .header_activities {
  padding: 47px 0 100px 0;
}

@media screen and (max-width: 1919px) {
  .body_activities .header_activities {
    padding: 27px 0 60px 0;
  }
}

@media screen and (max-width: 1439px) {
  .body_activities .header_activities {
    padding: 17px 0 60px 0;
  }
}

@media screen and (max-width: 1279px) {
  .body_activities .header_activities {
    padding: 17px 0 20vh 0;
  }
}

@media screen and (max-width: 991px) {
  .body_activities .header_activities {
    padding: 17px 0 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .body_activities .header_activities {
    padding: 17px 0 60px 0;
  }
}

.body_activities .header_activities .logo {
  margin-right: 30px;
}

@media screen and (max-width: 1919px) {
  .body_activities .header_activities .logo {
    height: 120px;
  }
}

@media screen and (max-width: 1439px) {
  .body_activities .header_activities .logo {
    height: 120px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 1365px) {
  .body_activities .header_activities .logo {
    height: 97px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 991px) {
  .body_activities .header_activities .logo {
    margin-right: 70px;
  }
}

@media screen and (max-width: 575px) {
  .body_activities .header_activities .logo {
    margin-right: 30px;
    height: 90px; 
  }
}

@media screen and (max-width: 413px) {
  .body_activities .header_activities .logo {
    margin-right: 20px;
    height: 90px; 
  }
}

@media screen and (max-width: 374px) {
  .body_activities .header_activities .logo {
    margin-right: 20px;
    height: 90px;
  }
}

.body_activities .header_activities .back_arrow {
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  color: #00dede;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .body_activities .header_activities .back_arrow {
    font-size: 0;
  }
}

.body_activities .header_activities .back_arrow::before {
  content: url("../images/back_arrow_light.svg");
  top: 0px;
  position: relative;
  margin-right: 10px;
}

.body_activities .main_activities .box_1 {
  background: #f3e8f2;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
  margin: 0 5px;
}

@media screen and (max-width: 1436px) {
  .body_activities .main_activities .box_1 {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .body_activities .main_activities .box_1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px;
  }
}

@media screen and (max-width: 575px) {
  .body_activities .main_activities .box_1 {
    padding: 0px;
  }
}

.body_activities .main_activities .box_1 h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.01em;
  line-height: 42px;
  text-align: left;
  color: #b459ac;
  margin-right: 20px;
}

@media screen and (max-width: 1439px) {
  .body_activities .main_activities .box_1 h1 {
    font-size: 36px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .body_activities .main_activities .box_1 h1 {
    font-size: 36px;
    margin-right: 100px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .body_activities .main_activities .box_1 h1 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 575px) {
  .body_activities .main_activities .box_1 h1 {
    font-size: 28px;
  }
}

.body_activities .main_activities .box_1 .box_custom_btn {
  padding: 10px 40px;
  background: #b459ac;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  margin-top: 20px;
}

.body_activities .main_activities .box_1 .box_custom_btn:hover {
  opacity: 0.9;
}

.body_activities .main_activities .box_1 .icon_bg {
  background: #b459ac;
  padding: 0 48px;
  margin: 12px 40px 12px 20px;
  height: 245px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1919px) {
  .body_activities .main_activities .box_1 .icon_bg {
    height: 225px;
  }
}

@media screen and (max-width: 1439px) {
  .body_activities .main_activities .box_1 .icon_bg {
    margin: 12px 30px 12px 20px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1365px) {
  .body_activities .main_activities .box_1 .icon_bg {
    height: 195px;
  }
}

@media screen and (max-width: 991px) {
  .body_activities .main_activities .box_1 .icon_bg {
    height: 205px;
  }
}

@media screen and (max-width: 767px) {
  .body_activities .main_activities .box_1 .icon_bg {
    padding: 26px 0;
    margin: 0 auto;
    text-align-last: center;
    width: 100%;
    height: 125px;
    display: table;
  }
}

@media screen and (max-width: 575px) {
  .body_activities .main_activities .box_1 .icon_bg {
    padding: 15px 0;
    height: 105px;
    zoom: 0.75;
  }
}

@media screen and (max-width: 767px) {
  .body_activities .main_activities .box_1 .content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .body_activities .main_activities .box_1 .content {
    padding: 20px;
    margin-top: 0px;
  }
}

.body_activities .main_activities .box_2 {
  background: #e1f3f3;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 991px) {
  .body_activities .main_activities .box_2 {
    margin-top: 30px;
  }
}

.body_activities .main_activities .box_2 h1 {
  color: #477cc0;
}

.body_activities .main_activities .box_2 .box_custom_btn,
.body_activities .main_activities .box_2 .icon_bg {
  background: #477cc0;
}

.body_activities .main_activities .box_3 {
  margin-top: 40px;
  background: #e1f3f3;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 1439px) {
  .body_activities .main_activities .box_3 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  .body_activities .main_activities .box_3 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .body_activities .main_activities .box_3 {
    margin-bottom: 100px;
  }
}

.body_activities .main_activities .box_3 h1 {
  color: #477cc0;
}

.body_activities .main_activities .box_3 .box_custom_btn,
.body_activities .main_activities .box_3 .icon_bg {
  background: #244980;
}

.benefits_cns_program .header_activities {
  padding: 47px 0 80px 0;
}

@media screen and (max-width: 1919px) {
  .benefits_cns_program .header_activities {
    padding: 27px 0 40px 0;
  }
}

@media screen and (max-width: 1439px) {
  .benefits_cns_program .header_activities {
    padding: 17px 0 40px 0;
  }
}

@media screen and (max-width: 1279px) {
  .benefits_cns_program .header_activities {
    padding: 17px 0 20vh 0;
  }
}

@media screen and (max-width: 991px) {
  .benefits_cns_program .header_activities {
    padding: 17px 0 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .benefits_cns_program .header_activities {
    padding: 17px 0 60px 0;
  }
}

.benefits_cns_program .header_activities .back_arrow {
  color: #477cc0;
}

.benefits_cns_program .header_activities .back_arrow::before {
  content: url("../images/back_arrow_dark.svg");
}

.benefits_cns_program .main_activities {
  padding-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .benefits_cns_program .main_activities {
    margin-bottom: 60px;
  }
}

.benefits_cns_program .benefits_cns_program_title h2 {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #477cc0;
}

@media screen and (max-width: 1439px) {
  .benefits_cns_program .benefits_cns_program_title h2 {
    font-size: 38px;
    margin: 0;
  }
}

@media screen and (max-width: 1365px) {
  .benefits_cns_program .benefits_cns_program_title h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 575px) {
  .benefits_cns_program .benefits_cns_program_title h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 374px) {
  .benefits_cns_program .benefits_cns_program_title h2 {
    font-size: 22px;
  }
}

.benefits_cns_program .benefits_cns_program_title p {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #5b5b5b;
  margin-bottom: 90px;
}

@media screen and (max-width: 1919px) {
  .benefits_cns_program .benefits_cns_program_title p {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1439px) {
  .benefits_cns_program .benefits_cns_program_title p {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .benefits_cns_program .benefits_cns_program_title p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 1439px) {
  .benefits_cns_program iframe {
    width: 47vw;
  }
}

@media screen and (max-width: 991px) {
  .benefits_cns_program iframe {
    width: 80vw;
    margin: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .benefits_cns_program iframe {
    width: 100%;
  }
}

.benefits_cns_program .inner {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 800px;
  height: 50px;
  border-radius: 20px 20px 0px 0px;
  padding: 13px 20px;
  background: #477cc0;
  -webkit-box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1365px) {
  .benefits_cns_program .inner {
    position: absolute;
  }
}

@media screen and (max-width: 1023px) {
  .benefits_cns_program .inner {
    width: 600px;
    padding: 14px;
  }
}

@media screen and (max-width: 991px) {
  .benefits_cns_program .inner {
    width: 100%;
    padding: 14px;
    position: fixed;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .benefits_cns_program .inner {
    width: 100%;
    height: auto;
    padding: 16px;
    position: fixed;
  }
}

.benefits_cns_program .inner .join_now {
  font-size: 16px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .benefits_cns_program .inner .join_now {
    font-size: 13px;
  }
}

.benefits_cns_program .modal-content .modal-header {
  margin-bottom: 0px;
}

@media screen and (max-width: 1439px) {
  .benefits_cns_program .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .benefits_cns_program .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 575px) {
  .benefits_cns_program .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 413px) {
  .benefits_cns_program .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

.benefits_cns_program .modal-content .modal-body {
  margin: 60px 0;
}

@media screen and (max-width: 1365px) {
  .benefits_cns_program .modal-content .modal-body iframe {
    width: 90% !important;
  }
}

@media screen and (max-width: 1279px) {
  .benefits_cns_program .modal-content .modal-body iframe {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  .benefits_cns_program .modal-content .modal-body iframe {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 575px) {
  .benefits_cns_program .modal-content .modal-body iframe {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .benefits_cns_program .modal-content .language-picker.js-language-picker {
    margin-top: 10px;
  }
}

.about_glaucoma .about_glaucoma_title h2 {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .about_glaucoma .about_glaucoma_title h2 {
    font-size: 38px;
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .about_glaucoma .about_glaucoma_title h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 374px) {
  .about_glaucoma .about_glaucoma_title h2 {
    font-size: 22px;
  }
}

.about_glaucoma .about_glaucoma_title p {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #00FFFF;
  margin-bottom: 90px;
}

@media screen and (max-width: 1919px) {
  .about_glaucoma .about_glaucoma_title p {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1439px) {
  .about_glaucoma .about_glaucoma_title p {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .about_glaucoma .about_glaucoma_title p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 6px;
  }
}

.about_glaucoma .about_glaucoma_box_1,
.about_glaucoma .about_glaucoma_box_2 {
  padding: 40px 0;
  height: 340px;
  background: #fff !important;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04) !important;
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04) !important;
  margin: 0 5px;
}

@media screen and (max-width: 1436px) {
  .about_glaucoma .about_glaucoma_box_1,
  .about_glaucoma .about_glaucoma_box_2 {
    margin: 0;
    padding: 30px 0;
    height: 320px;
  }
}

@media screen and (max-width: 1279px) {
  .about_glaucoma .about_glaucoma_box_1,
  .about_glaucoma .about_glaucoma_box_2 {
    padding: 60px 0;
    height: 340px;
  }
}

@media screen and (max-width: 991px) {
  .about_glaucoma .about_glaucoma_box_1,
  .about_glaucoma .about_glaucoma_box_2 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about_glaucoma .about_glaucoma_box_1,
  .about_glaucoma .about_glaucoma_box_2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .about_glaucoma .about_glaucoma_box_1,
  .about_glaucoma .about_glaucoma_box_2 {
    padding: 60px 0px;
  }
}

.about_glaucoma .about_glaucoma_box_1 h6,
.about_glaucoma .about_glaucoma_box_2 h6 {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000;
  padding: 4vh 8vh;
}

@media screen and (max-width: 1439px) {
  .about_glaucoma .about_glaucoma_box_1 h6,
  .about_glaucoma .about_glaucoma_box_2 h6 {
    padding: 3vh 10vh;
  }
}

@media screen and (max-width: 1279px) {
  .about_glaucoma .about_glaucoma_box_1 h6,
  .about_glaucoma .about_glaucoma_box_2 h6 {
    padding: 1vh 2vh;
  }
}

@media screen and (max-width: 991px) {
  .about_glaucoma .about_glaucoma_box_1 h6,
  .about_glaucoma .about_glaucoma_box_2 h6 {
    padding: 2vh 5vh;
  }
}

.about_glaucoma .about_glaucoma_box_1 .box_custom_btn,
.about_glaucoma .about_glaucoma_box_2 .box_custom_btn {
  padding: 10px 51px;
  background: #b459ac;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  margin-top: 0;
}

.about_glaucoma .about_glaucoma_box_1 .box_custom_btn:hover,
.about_glaucoma .about_glaucoma_box_2 .box_custom_btn:hover {
  opacity: 0.9;
}

.about_glaucoma .about_glaucoma_box_1 .language-picker.js-language-picker,
.about_glaucoma .about_glaucoma_box_2 .language-picker.js-language-picker {
  position: absolute;
  right: 30px;
  top: 14px;
}

@media screen and (max-width: 991px) {
  .about_glaucoma .about_glaucoma_box_1 .language-picker.js-language-picker,
  .about_glaucoma .about_glaucoma_box_2 .language-picker.js-language-picker {
    right: 30px;
    top: 30px;
  }
}

.about_glaucoma .about_glaucoma_box_1 .language-picker.js-language-picker select#language-picker-select,
.about_glaucoma .about_glaucoma_box_2 .language-picker.js-language-picker select#language-picker-select {
  color: #656565 !important;
}

.about_glaucoma .about_glaucoma_box_1 .language-picker.js-language-picker select#language-picker-select option,
.about_glaucoma .about_glaucoma_box_2 .language-picker.js-language-picker select#language-picker-select option {
  color: #656565;
}

.about_glaucoma .modal-content .modal-header {
  margin-bottom: 0px;
}

@media screen and (max-width: 1439px) {
  .about_glaucoma .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .about_glaucoma .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 575px) {
  .about_glaucoma .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 413px) {
  .about_glaucoma .modal-content .modal-header {
    margin-bottom: 0px;
  }
}

.about_glaucoma .modal-content .modal-body {
  margin: 60px 0;
}

@media screen and (max-width: 1365px) {
  .about_glaucoma .modal-content .modal-body iframe {
    width: 90% !important;
  }
}

@media screen and (max-width: 1279px) {
  .about_glaucoma .modal-content .modal-body iframe {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  .about_glaucoma .modal-content .modal-body iframe {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 575px) {
  .about_glaucoma .modal-content .modal-body iframe {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .about_glaucoma .modal-content .language-picker.js-language-picker {
    margin-top: 10px;
  }
}

.language-picker.js-language-picker {
  margin-top: 12px;
}

@media screen and (max-width: 991px) {
  .language-picker.js-language-picker {
    margin-top: -10px;
  }
}

.language-picker.js-language-picker select#language-picker-select {
  background: none;
  outline: none;
  border: none;
  color: #fff;
}

.language-picker.js-language-picker select#language-picker-select option {
  color: black;
}
/*# sourceMappingURL=style.css.map */