/* COMMON CSS */
body {
    height: 100vh !important;
}
.loader-process {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 51.5%;
    top: 30%;
    color: white;
    font-size: 24px;
    visibility: hidden;
} 
.loader-process.show {
    visibility: visible;
}


.bg-lightblue {
    background-color: lightblue !important;   
}
.bg-lightpink {
    background-color: lightpink !important;   
}
.green-bg {
 background-color: green !important;
}
.orange-bg {
    background-color: orange !important;
}
.red-bg {
    background-color: red !important;
}
.float-right {
    float: right !important;
}
.m-t-35 {
    margin-top: 35px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.not-show {
	display:none !important;
}
.center {
    text-align: center !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.status-td {
    position: relative;
}
.actions-td a{
    margin-right: 5px;
}
.import-btn {
    cursor: pointer;
}
.content-header .page-title {
    display: inline-block;
}
.content-header .page-btn {
    width: 60px;
    display: inline-block;
    float: right;
}
.alert ul {
    margin:0;
}
.pagination-wrapper nav {
    float: left;
    width: 100%;
}
.pagination-wrapper nav ul {
    float: right;
}
.switch,
.focus-switch{
    top: 10%;
    left: 17.5%;
    width: 60px;
    height: 28px;
    position: absolute;
    border: 2px solid #444249;
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
}
.focus-switch {
    width: 80px;
}

.switch.toggle-on,
.focus-switch.toggle-on {
    border-color: rgba(137, 194, 217, .4);
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}

.toggle-button{
    position: absolute;
    top: 4px;
    width: 16px;
    bottom: 4px;
    right: 34px;
    background-color: #444249;
    border-radius: 19px; 
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}
.focus-switch .toggle-button {
    right: 56px;
}

.toggle-on .toggle-button{
    top: 3px;
    width: 50px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #89c2da;
    box-shadow: 0 0 16px #4b7a8d;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}
.focus-switch.toggle-on .toggle-button {
    width: 70px;
}


.toggle-text-on{
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */    
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */


    color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
    color: #1a323c;
    -webkit-transition: color .3s .15s ;
    transition: color .3s .15s ;
}

.toggle-text-off{
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 6px;
    line-height: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    cursor: pointer;

    color: #444249;
}

.toggle-on .toggle-text-off{
    color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.main-sidebar .brand-link {
    text-align: center;
    font-size: 24px;
}

/* SELECT 2 CSS */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
    vertical-align: middle;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li:first-child.select2-search.select2-search--inline .select2-search__field {
    text-align: center;
}

.js-rxbers-color-div {
    cursor: pointer;
}

/* PRELOADER CSS */
#cmn_preloader_popup .modal-dialog {
    width: auto;
    max-width: fit-content;
    top: 40%;
}
#cmn_preloader_popup .modal-content {
    width: auto;
    text-align: center;
}
#cmn_preloader_popup .modal-body i {
    font-size: 24px;
}

.progress-bar-success {
    background-color: #5cb85c;
}
.progress-bar-info {
    background-color: #5bc0de;
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-bar-danger {
    background-color: #d9534f;
}
/* MULTISELECT CSS */
.bootstrap-select .filter-option {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.tbl-dpm-card td {
    vertical-align: middle !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}